@import '~/assets/styles';

$flag: '/images/flag-logo.png';

@mixin flag-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  top: 1px;
  background: url($flag) no-repeat transparent;
  background-size: 16px auto;
  &.ar {
    background-position: 0 3px;
  }
  &.zh {
    background-position: 0 -12px;
  }
  &.en {
    background-position: 0 -28px;
  }
  &.de {
    background-position: 0 -44px;
  }
  &.id {
    background-position: 0 -62px;
  }
  &.pt {
    background-position: 0 -79px;
  }
}

header#header.header.v-sheet.theme--light.v-toolbar.v-app-bar.v-app-bar--fixed {
  padding: 0;
}

.popover {
  @include palette-background-paper;
  width: 200px;
  .v-list {
    border-radius: 0;
  }
}

.switch-toggle {
  margin: spacing(0, 2);
  ::v-deep .v-input--switch__thumb {
    color: var(--v-secondary-base);
  }
}

.flex-menu {
  display: flex;
  margin-top: $spacing1;
  label {
    padding-top: 8px;
  }
  ::v-deep .v-messages {
    display: none;
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.header {
  padding: 0px;
  ::v-deep .v-toolbar__content {
    height: auto !important;
    margin: 4px 0;
  }
  &.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
  }
  @include breakpoints-up(lg) {
    padding-top: $spacing7;
  }
  &.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    @include palette-text-primary;
    box-shadow: none;
    transition: background 0.3s ease;
    position: fixed !important;
    height: auto !important;
  }
  &.invert {
    padding-top: 0;
  }
  .container {
    #main-wrap & {
      @include breakpoints-down(md) {
        padding-left: 0;
      }
      @include breakpoints-down(xs) {
        padding-right: 0;
      }
    }
  }
  nav {
    transition: background 0.5s ease-out;
    ul {
      padding: 0;
      padding-right: $spacing1;
    }
  }
  &.fixed.v-app-bar.v-toolbar.v-sheet {
    padding-top: 0;
    .theme--light & {
      background: $palette-primary-dark;
    }
    .theme--dark & {
      @include bg-color-darken($palette-primary-dark, 0.3);
    }
    .logo {
      a {
        color: transparent;
        font-size: 0;
      }
      img {
        height: 48px;
        width: 48px;
        margin-bottom: 0;
      }
    }
    nav {
      padding: 6px;
      .button {
        padding: spacing(0.5, 2);
      }
    }
    .text-btn {
      color: $palette-common-white;
    }
    ul li a,
    .setting .icon {
      color: $palette-common-white;
    }
    .mobile-menu .bar {
      background-color: $palette-common-white;
      &:after,
      &:before {
        background-color: $palette-common-white;
      }
    }
    .divider {
      border-left-color: rgba(255, 255, 255, 0.5);
    }
  }
  &.open-drawer {
    z-index: 90;
    box-shadow: none !important;
    .logo {
      a {
        @include palette-text-primary;
      }
    }
  }
}

.v-toolbar__content,
.v-toolbar__extension {
  padding: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & nav {
    align-items: center;
    padding: $spacing2;
    display: flex;
    @include breakpoints-down(md) {
      padding: spacing(2, 0);
    }
  }
}

.v-application .v-application--wrap .logo {
  a {
    @include breakpoints-down('sm') {
      color: $palette-common-white;
    }
  }
}

.logo {
  margin-right: $spacing1;
  a {
    margin-top: 4px;
    font-size: 16px;
    font-weight: $font-medium;
    position: relative;
    margin: spacing(0, 1);
    text-decoration: none;
  }
  img {
    max-width: 64px;
    height: 64px;
    width: 64px;
    margin: 0 auto;
    display: block;
    @include breakpoints-down(xs) {
      height: 48px;
      width: 48px;
    }
  }
}

.nav-logo {
  .logo {
    a {
      display: block;
      color: $palette-common-white;
    }
  }
  &.invert .logo a {
    @include palette-text-primary;
  }
  &.mobile-menu {
    bar {
      @include breakpoints-down(sm) {
        background: $palette-common-white;
        &:after,
        &:before {
          background: $palette-common-white;
        }
      }
    }
  }
}

.button {
  width: $spacing15;
}

.text-btn {
  padding-left: $spacing1;
  padding-right: $spacing1;
}

nav.nav-menu {
  a {
    color: $palette-common-white;
    margin: spacing(0, 1);
    position: relative;
    font-size: 16px;
    box-shadow: none;
    margin-top: 4px;
  }
  &.invert {
    ul li a {
      transition: all 0.3s ease-out;
      @include palette-text-primary;
    }
    .icon.v-icon {
      @include palette-text-primary;
    }
    .text-btn {
      @include palette-text-primary;
    }
    .mobile-menu .bar {
      @include palette-background-text-primary;
      &:after,
      &:before {
        @include palette-background-text-primary;
      }
    }
    .invert {
      @include palette-divider;
    }
  }
  .scrollactive-nav {
    list-style: none;
    display: block;
    li {
      @include breakpoints-up(lg) {
        margin: spacing(0, 1);
      }
      list-style: none;
      position: relative;
      display: inline-block;
      .v-btn {
        color: $palette-common-white;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: $font-bold;
        border: 1px solid transparent;
        box-shadow: none;
        position: relative;
        padding: 6px 12px;
        margin-top: $spacing1 / 2;
        min-width: 0;
        transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
        &:hover {
          border: 1px solid $palette-common-white;
        }
        &.active {
          color: $palette-primary-main !important;
          @include use-theme(
            background,
            rgba(255, 255, 255, 0.84),
            rgba(0, 0, 0, 0.3)
          );
        }
      }
    }
  }
}

.lang-menu {
  text-transform: capitalize;
  .flag {
    margin: 0;
    & i {
      @include flag-icon;
    }
  }
  .lang-list {
    padding: 0;
    .lang-opt {
      font-size: 0.875rem;
      @include margin-left($spacing2);
    }
  }
}

.mode-menu {
  text-transform: capitalize;
}

.user-menu {
  & > button {
    margin: 0 $spacing1;
  }
}

.setting {
  .icon.v-icon {
    font-size: 24px;
    transition: all 0.3s ease;
    color: $palette-common-white;
  }
  .active {
    transform: rotate(30deg);
  }
}

.title-menu {
  text-transform: capitalize;
}

.v-list-item__content {
  padding: 0;
}

.mobile-menu {
  margin: spacing(0, 1);
  .bar {
    background-color: $palette-common-white;
    &:after,
    &:before {
      background-color: $palette-common-white;
    }
  }
  &.active {
    .bar {
      @include palette-background-text-secondary;
      &:after,
      &:before {
        @include palette-background-text-secondary;
      }
    }
  }
}

.v-navigation-drawer.mobile-nav {
  @include bg-color-darken($palette-primary-dark, 0.3);
  position: fixed;
  z-index: 90;
  min-width: 300px;
  @include breakpoints-down(xs) {
    width: 100% !important;
  }
  .menu {
    padding: spacing(2, 5);
    overflow: auto;
    top: spacing(10);
    width: 100%;
    position: absolute;
    height: calc(100% - 80px);
    .menu-list {
      text-transform: capitalize;
      font-size: 24px;
      color: $palette-common-white;
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: $font-regular;
      padding: spacing(1, 0);
    }
    &.menu-open {
      a {
        animation-name: slideRight;
        animation-timing-function: ease;
      }
    }
  }
  .divider-sidebar {
    background: rgba(255, 255, 255, 0.2);
    margin: spacing(3, 0);
  }
}

.nav-auth {
  justify-content: space-around;
  .button.v-btn {
    padding: 0 $spacing1;
    margin: 0 $spacing3;
  }
  @include breakpoints-up(lg) {
    flex: 1;
  }
}

.divider {
  background: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 28px;
  display: block;
}

.market {
  position: absolute;
  top: 0px;
  z-index: 1200;
  @include left(0);
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  padding: $spacing1;
}

.item {
  color: $palette-common-white;
  padding: spacing(0.5, 4);
  font-size: 14px;
  &:focus {
    outline: none;
  }
}

.coin {
  display: flex;
  .logo {
    width: 20px;
    height: auto;
    @include margin-right($spacing1);
    img {
      width: 100%;
      height: auto;
    }
  }
  i {
    font-style: normal;
  }
}

.down {
  color: #ff7272;
}

.up {
  color: #5dd662;
}

.stay {
  color: #b2b2b2;
}
