.root {
  position: relative;
  @include breakpoints-up(md) {
    height: 700px;
  }
  @include breakpoints-down(sm) {
    padding-bottom: $spacing5
  }
}

.canvas-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  // background: rgba(247, 1, 1, 0.2);
  overflow: hidden;
  @include use-theme(background, linear-gradient(-45deg, $palette-secondary-main 30%, $palette-primary-main 80%), linear-gradient(-45deg, $palette-secondary-dark 30%, $palette-primary-dark 80%));
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
  }
@include breakpoints-down(md) {
  height: 720px;
  overflow: hidden;
}

img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  @include left(0);

  @include breakpoints-down(md) {
    object-fit: cover;
  }
}

::v-deep iframe {
  width: 100%;
  position: relative;
  top: -20px !important
}

.container {
  @include breakpoints-down(md) {
    max-width: 100% !important;
  }

  @include breakpoints-down(sm) {
    margin: 0;
  }

  >* {
    @include breakpoints-down(sm) {
      text-align: center;
    }
  }
}
  
}

.overlay {
  position: absolute;
  opacity: 0.5;
  background: $palette-primary-dark;
  width: 100%;
  height: 100%;
  
  .theme--dark & {
    @include bg-color-fade($palette-primary-dark, 0.7)
  }
  .theme--light & {
    @include bg-color-fade($palette-primary-main, 0.7)
  }
}

// .particle-background {
//   position: absolute;
//   width: 100%;
//   height: 600px;
//   ::v-deep canvas {
//     @include breakpoints-down(md) {
//       display: none
//     }
//   }
// }

.particle-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-wrap {
  position: relative;
  z-index: 1
}

.object-art {
  img {
    position: relative;
    z-index: 1;
    @include left(-90px);
    top: 270px;
    // 270
    max-width: 560px;
    @include breakpoints-down(md) {
      top: 120px;
    }
  }
  @include breakpoints-down(sm) {
    display: none
  }
}

.text {
  color: $palette-common-white;
  @include breakpoints-up(lg) {
    // margin-top: 212px;
    margin-top: 170px;
  }
  @include breakpoints-down(md) {
    margin-top: $spacing12;
  }
  @include breakpoints-down(sm) {
    text-align: center;
    margin-top: $spacing20
  }
  h4 {
    margin-bottom: $spacing2
  }
}

.btn-area {
  margin-top: $spacing5;
  position: relative;
  z-index: 2;
  @include breakpoints-down(sm) {
    text-align: center
  }
  button {
    @include margin-right($spacing3);
    @include breakpoints-down(xs) {
      margin-bottom: $spacing3;
      height: 50px;
    }
  }
}

.invert {
  border-color: $palette-common-white;
  color: $palette-common-white;
}

.deco-bottom {
  position: absolute;
  bottom: -50px;
  width: 100%;
  .v-application--is-rtl & {
    right: -40px
  }
  .v-application--is-ltr & {
    left: 0
  }
  @include breakpoints-down(sm) {
    display: none
  }
  svg {
    width: 1400px;
    height: 380px;
    @media only screen and (min-width: 1400px) {
      transform: scale(2, 1);
    }
    @include breakpoints-up(xl) {
      display: none
    }
  }
  &.back {
    svg {
      @include use-theme(fill, $palette-primary-main, $palette-primary-dark);
    }
  }
  &.cover {
    svg {
      @include use-theme(fill, #FFF, #303030);
      @include use-theme(opacity, 0.84, 0.6);
    }
  }
}

h4.use-text-title2{
  margin: 0;
}

// .deco-inner {
//   position: absolute;
//   top: 0;
//   @include left(0);
//   width: 100%;
//   height: 100%
// }
