<template>
  <div>
    <v-container>
      <v-row>
        <v-col> Information </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return { data: 0 }
  },
  methods: {
    test() {},
  },
  beforeMount() {},
}
</script>
