<template>
  <div>
    <v-container>
      <v-row v-if="type == 0">
        <v-col> success</v-col>
      </v-row>
      <v-row v-else-if="type == 1">
        <v-col> success </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      type: 0,
    }
  },
  methods: {
    fetchX() {
      console.log('xxxx')
      // this.$axios.get(``).then().catch()
    },
  },
  beforeMount() {
    // hook omise
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      // this.$parent.fetchUser()
      this.fetchX()
    } else {
      // alert('ERROR!')
      // this.$router.push('/login')
    }
  },
}
</script>