<template>
  <div>
    <v-container class="py-6">
      <v-row>
        <v-col align="right">
          <v-btn color="#D4A410" class="white--text" large @click="toInvest">
            Invest
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-card
            class="overflow-y-auto"
            max-height="600"
            color="transparent"
            elevation="0"
          >
            <v-container>
              <v-row v-for="(item, index) in stockList" :key="index">
                <v-col cols="12">
                  <v-card color="#1f1f1f" elevation="0" class="py-4">
                    <v-container fluid>
                      <v-row class="fill-height align-center" no-gutters>
                        <v-col cols="2">
                          <!-- :src="item.img" -->
                          <v-img
                            :src="
                              '/images/company logo/' +
                              item.company_name +
                              '.png'
                            "
                            height="140"
                            contain
                            aspect-ratio="1"
                          />
                        </v-col>

                        <!-- {
            "company_name": "Amazie Holding",
            "InvestAmount": 150000,
            "AmountOfShare": 6000,
            "prefer": 3000,
            "commond": 3000
        }, -->

                        <!-- name & total -->
                        <v-col class="white--text">
                          <v-row>
                            <v-col>
                              <h2>
                                {{ item.company_name }}
                              </h2>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <h2>
                                Total ฿ {{ item.InvestAmount.toLocaleString() }}
                              </h2>
                            </v-col>
                          </v-row>
                        </v-col>

                        <v-card
                          height="100"
                          width="5"
                          color="white"
                          class="mr-5"
                        ></v-card>
                        <!-- common -->
                        <v-col class="white--text">
                          <v-row>
                            <v-col>
                              <h2>Common Stock</h2>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <h3>{{ item.commond || 0 }} Stock</h3>
                            </v-col>
                          </v-row>
                          <!-- <v-row no-gutters>
                            <v-col>
                              <h4>Value ฿ 105,000</h4>
                            </v-col>
                          </v-row> -->
                        </v-col>

                        <v-card
                          height="100"
                          width="5"
                          color="white"
                          class="mr-5"
                        ></v-card>
                        <!-- prefer -->
                        <v-col class="white--text">
                          <v-row>
                            <v-col>
                              <h2>Prefer Stock</h2>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <h3>{{ item.prefer || 0 }} Stock</h3>
                            </v-col>
                          </v-row>
                          <!-- <v-row no-gutters>
                            <v-col>
                              <h4>Value ฿ 105,000</h4>
                            </v-col>
                          </v-row> -->
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- lower -->
      <v-row>
        <v-col cols="12" class="mt-5" order="2">
          <v-row>
            <v-col class="py-0 d-flex">
              <v-tabs v-model="tab" @change="tabItems">
                <v-tab>Transaction</v-tab>
                <v-tab>Pending Transaction</v-tab>
                <v-spacer />
                <v-spacer />
                <v-spacer />
                <v-text-field
                  placeholder="search"
                  v-model="search"
                  dense
                  outlined
                  background-color="white"
                  class="rounded-pill mt-1"
                  prepend-inner-icon="mdi-magnify"
                  hide-details=""
                >
                </v-text-field>
              </v-tabs>
            </v-col>
          </v-row>
          <v-row v-if="tableData != null">
            <v-col class="py-0">
              <!-- data table -->
              <v-data-table
                :headers="headers"
                :items="tableData"
                :search="search"
              >
                <!-- <template v-slot:item.countdown="{ item }">
                  <v-progress-linear
                    :value="item.countdown"
                    :buffer-value="item.countdown"
                    color="#1D9689"
                    stream
                  ></v-progress-linear>
                </template> -->
                <template v-slot:item.id="{ item }">
                  {{ tableData.indexOf(item) + 1 }}
                </template>
                <template v-slot:item.contract="{ item }">
                  {{ item.contract }} years
                </template>
                <template v-slot:item.amount="{ item }">
                  ฿
                  {{
                    parseFloat(item.amount).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
                <template v-slot:item.cd="{ item }">
                  <v-progress-linear
                    :value="item.cd"
                    :buffer-value="item.cd"
                    color="#1D9689"
                    stream
                  ></v-progress-linear>
                </template>
                <template v-slot:item.Dividend="{ item }">
                  {{ item.Dividend.slice(0, -4) }}
                </template>
                <template v-slot:item.Price="{ item }">
                  ฿
                  {{
                    parseFloat(item.Price).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
                <template v-slot:item.AmountDividend="{ item }">
                  ฿
                  {{
                    parseFloat(item.AmountDividend).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
                <template v-slot:item.chipStatus="{ item }">
                  <v-chip color="warning"> Pending </v-chip>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tab: 0,
      stockData: null,
      stockList: null,
      headers: [
        { text: '#', value: 'id' },
        { text: 'Transaction ID', value: 'No' },
        { text: 'Investment Amount', value: 'amount' },
        { text: 'Contract Type', value: 'contract' },
        { text: 'Amount of shares', value: 'share' },
        { text: 'Countdown', value: 'cd' },
        { text: 'Dividend', value: 'Dividend' },
        { text: 'Date of purchase', value: 'DateOfPuschase' },
      ],
      headersList: [
        [
          { text: '#', value: 'id' },
          { text: 'Transaction ID', value: 'No' },
          { text: 'Investment Amount', value: 'amount' },
          { text: 'Contract Type', value: 'contract' },
          { text: 'Amount of shares', value: 'share' },
          { text: 'Countdown', value: 'cd' },
          { text: 'Dividend', value: 'Dividend' },
          { text: 'Date of purchase', value: 'DateOfPuschase' },
        ],
        [
          { text: '#', value: 'id' },
          { text: 'Transaction ID', value: 'No' },
          { text: 'Investment Amount', value: 'Price' },
          { text: 'Invester', value: 'InvesterName' },
          { text: 'Contract Type', value: 'ContractYear' },
          { text: 'Amount of shares', value: 'share' },
          { text: 'Dividend', value: 'AmountDividend' },
          { text: 'Status', value: 'chipStatus', align: 'center' },
          { text: 'Date of purchase', value: 'timestampDividend' },
        ],
      ],
      tableData: null,
      search: '',
    }
  },
  methods: {
    fetchData() {
      // QueryInvestAmountCard
      this.$axios
        .get(`/QueryInvestAmountCard`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.stockList = response.data.message
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    fetchTableData() {
      this.tableData = null
      // QueryTransactionTable
      this.tab == 0
        ? this.$axios
            .get(`/QueryTransactionTable`)
            .then((response) => {
              if (response.data.success == 'success') {
                this.tableData = response.data.message
              } else {
                alert(
                  this.$i18n.locale == 'th'
                    ? response.data.message_th
                    : response.data.message_en
                )
              }
            })
            .catch((error) => {
              console.log(error.response)
            })
        : this.$axios
            .get(`/PendingTransaction`)
            .then((response) => {
              if (response.data.success == 'success') {
                this.tableData = response.data.message
              } else {
                alert(
                  this.$i18n.locale == 'th'
                    ? response.data.message_th
                    : response.data.message_en
                )
              }
            })
            .catch((error) => {
              console.log(error.response)
            })
    },
    tabItems() {
      this.headers = this.headersList[this.tab]
      this.fetchTableData()
    },
    toInvest() {
      this.$router.push('/user/invest/selection')
    },
  },
  beforeMount() {
    this.fetchData()
    this.fetchTableData()
  },
}
</script>
