<template>
  <div>
    <v-container class="py-8">
      <!-- prefer -->
      <v-row>
        <v-col> <h2>Price of Prefer Stock</h2> </v-col>
      </v-row>
      <v-row>
        <v-col cols="4" v-for="(item, index) in preferStockList" :key="index">
          <v-card
            color="black"
            class="mx-4"
            width="400"
            @click="handleClick(1, item)"
          >
            <v-container class="py-8">
              <v-row class="fill-height align-center" no-gutters>
                <v-col cols="3">
                  <v-img :src="item.img" contain> </v-img>
                </v-col>
                <v-col class="white--text">
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.name }}</h2>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.price }}</h2>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- common -->
      <v-row>
        <v-col> <h2>Price of Common Stock</h2> </v-col>
      </v-row>
      <v-row>
        <v-col cols="4" v-for="(item, index) in commonStockList" :key="index">
          <v-card
            color="black"
            class="mx-4"
            width="400"
            @click="handleClick(2, item)"
          >
            <v-container class="py-8">
              <v-row class="fill-height align-center" no-gutters>
                <v-col cols="3">
                  <v-img :src="item.img" contain> </v-img>
                </v-col>
                <v-col class="white--text">
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.name }}</h2>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.price }}</h2>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      preferStockList: [
        {
          id: 1,
          name: 'Amazie Holding',
          img: '/images/company logo/Amazie Holding.png',
          price: '฿ 60/Stock',
        },
        {
          id: 2,
          name: 'Amazie Fintech',
          img: '/images/company logo/Amazie Fintech.png',
          price: '฿ 35/Stock',
        },
        {
          id: 3,
          name: 'Amazie Gold',
          img: '/images/company logo/Amazie Gold.png',
          price: '฿ 35/Stock',
        },
      ],
      commonStockList: [
        {
          id: 1,
          name: 'Amazie Holding',
          img: '/images/company logo/Amazie Holding.png',
          price: '฿ 60/Stock',
        },
        {
          id: 2,
          name: 'Amazie Fintech',
          img: '/images/company logo/Amazie Fintech.png',
          price: '฿ 35/Stock',
        },
        {
          id: 3,
          name: 'Amazie Gold',
          img: '/images/company logo/Amazie Gold.png',
          price: '฿ 35/Stock',
        },
      ],
    }
  },
  methods: {
    handleClick(type, item) {
      console.log(type)
      console.log(item.name)
      //   let hhtype = 't' + type + 'clf06s8p' + item.id + 'n'
      //   if (type.toString().length < 2) {
      //     hhtype
      //   }
      // hhtype = 't' + type + 'cr15o9'

      //   console.log(hhtype)
      this.$router.push(
        `/user/invest/shares/agreement?type=${type}&sh=${item.id}`
      )
    },
  },
}
</script>