<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-container>
              <v-row>
                <v-col><h3>Total Dividend Payout</h3></v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <v-container>
              <v-row>
                <v-col><h3>Total Dividend Payout</h3></v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <v-container>
              <v-row>
                <v-col><h3>Total Income</h3></v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <v-container>
              <v-row>
                <v-col><h3>Total Withdrawal</h3></v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <v-row v-if="tableData != null">
        <v-col>
          <v-tabs v-model="tab" @change="tabChanged()">
            <v-tab v-for="item in tabs" :key="item.id">
              {{ item.text }}
            </v-tab>
          </v-tabs>
          <v-data-table
            :headers="headers"
            :items="tableData"
            hide-default-footer
            @click:row="rowClickHandle"
          >
            <template v-slot:item.index="{ item }">
              {{ tableData.indexOf(item) + 1 }}
            </template>
            <template v-slot:item.Details="{ item }">
              <v-icon class="pointer" @click="userDetailsClickHandle(item)">
                mdi-file-document-outline
              </v-icon>
            </template>
            <template v-slot:item.active="{ item }">
              <div v-if="item.active == 1">
                <v-icon class="green--text">mdi-check-circle</v-icon>
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>

    <!-- <v-container>
      <v-btn @click="KYCdialogHandle({})"> KYCdialog </v-btn>
      <v-btn @click="dividendConfirmDialog = true">
        dividendConfirmDialog
      </v-btn>
      <v-btn @click="withdrawalConfirmDialog = true">
        withdrawalConfirmDialog
      </v-btn>
      <v-btn @click="commissionConfirmDialog = true">
        commissionConfirmDialog
      </v-btn>
      <v-btn @click="topupDialog = true"> topupDialog </v-btn>
    </v-container> -->

    <v-dialog v-model="KYCdialog" persistent max-width="1200">
      <v-card class="px-5">
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="KYCdialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>KYC</h3>
            </v-col>
          </v-row>
          <v-row>
            <!-- left panel -->
            <v-col cols="6">
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="approveKYCform.bankname"
                    label="Bank Name"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="approveKYCform.accountname"
                    label="Account Name"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="approveKYCform.accountnumber"
                    label="Account Number"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="approveKYCform.swiftcode"
                    label="SWIFT code"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.FirstName"
                    label="First and Middle Name"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.LastName"
                    label="Last name"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.DateOfBirth"
                    label="Date of Birth"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.Gender"
                    label="Gender"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.Phone"
                    label="Phone Number"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.country_name"
                    label="Country"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.City"
                    label="Town / City"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.PostalCode"
                    label="Post Code"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.Address1"
                    label="Address 1"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.address2"
                    label="Address 2"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.PassportNumber"
                    label="Passport Number / ID Number"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.EmploymentStatus"
                    label="Employment Status"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="KYCform.EmploymentAddress"
                    label="Employment Address 1"
                    color="primary"
                    class="input"
                    dense
                    filled
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="KYCform.RefID"
                    label="REF NO."
                    color="primary"
                    class="input"
                    filled
                    dense
                    hide-details
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>

            <!-- right panel -->
            <v-col cols="6">
              <v-row>
                <v-col cols="6">
                  <h4>Face Image</h4>
                  <v-img width="100%" contain :src="getImage(KYCform.FaceIMG)">
                  </v-img>
                  <!-- <v-sheet width="100%" height="250" color="primary"> </v-sheet> -->
                </v-col>
                <v-col cols="6">
                  <h4>Book Bank</h4>
                  <v-img
                    width="100%"
                    contain
                    :src="getImage(KYCform.BookbankIMG)"
                  >
                  </v-img>
                  <!-- <v-sheet width="100%" height="250" color="primary"> </v-sheet> -->
                </v-col>
                <v-col cols="6">
                  <h4>Front Passport</h4>
                  <v-img
                    width="100%"
                    contain
                    :src="getImage(KYCform.FrontPassportIMG)"
                  >
                  </v-img>
                  <!-- <v-sheet width="100%" height="250" color="primary"> </v-sheet> -->
                </v-col>
                <v-col cols="6">
                  <h4>Back Passport</h4>
                  <v-img
                    width="100%"
                    contain
                    :src="getImage(KYCform.BackPassportIMG)"
                  >
                  </v-img>
                  <!-- <v-sheet width="100%" height="250" color="primary"> </v-sheet> -->
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn
                block
                color="green"
                class="white--text"
                @click="approveKYCHandle(1)"
                >APPROVE</v-btn
              >
            </v-col>
            <v-col>
              <v-btn
                block
                color="red"
                class="white--text"
                @click="KYCrejectDialog = true"
                >REJECT</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="KYCrejectDialog" persistent max-width="400">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="KYCrejectDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>Reject Detail</h3>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                v-model="approveKYCform.details"
                label="Detail"
                outlined
                dense
                hide-details
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col align="center">
              <v-btn color="primary" @click="approveKYCHandle(2)">
                Send to Email Customer
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dividendConfirmDialog" persistent max-width="500">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="dividendConfirmDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>Confirmation of Dividend</h3>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Name: {{ bufferDialogData.InvesterName }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Role: {{ bufferDialogData.InvesterId }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              Invested Amount: ฿
              {{
                parseFloat(bufferDialogData.Price).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2,
                })
              }}
            </v-col>
          </v-row>
          <v-row no-gutters class="my-2">
            <v-col>
              <v-text-field
                v-model="bufferDialogData.AmountDividend"
                label="Dividend"
                outlined
                dense
                hide-details
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" block @click="approveDividendHandle()">
                accept
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                color="primary"
                block
                @click="dividendConfirmDialog = false"
              >
                reject
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="withdrawalConfirmDialog" persistent max-width="700">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="withdrawalConfirmDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>Confirmation of Withdrawal</h3>
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col> Name : {{ bufferDialogData.SystemName }} </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col> Role : {{ bufferDialogData.slip }} </v-col>
          </v-row> -->
          <v-row no-gutters>
            <v-col>
              Account Number : {{ bufferDialogData.AccountNumber }}
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Bank : {{ bufferDialogData.BankName }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Swift Code : {{ bufferDialogData.SwiftCode }} </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" @click="uploadSlip">upload slip</v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <h4>slip</h4>
              <v-img :src="getSlipImage(bufferDialogData.slip)" contain></v-img>
            </v-col>
          </v-row>
          <v-row style="margin: 80px 0 0 0">
            <v-col>
              <v-btn color="primary"> accept </v-btn>
            </v-col>
            <v-col align="right">
              <v-btn color="primary"> not accept </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="commissionConfirmDialog" persistent max-width="700">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="commissionConfirmDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>Confirmation of Commission Broker</h3>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Broker ID : {{ bufferDialogData.BrokerID }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Investor ID : {{ bufferDialogData.idUser }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Broker Name : {{ bufferDialogData.BrokerName }} </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col> Role : {{bufferDialogData.}} </v-col>
          </v-row> -->
          <v-row no-gutters>
            <v-col> Commission : ฿ {{ bufferDialogData.Commission }} </v-col>
          </v-row>

          <v-row style="margin: 80px 0 0 0">
            <v-col>
              <v-btn color="primary" @click="approveCommissionHandle()">
                accept
              </v-btn>
            </v-col>
            <v-col align="right">
              <v-btn color="primary"> not accept </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="topupDialog" persistent max-width="700">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="topupDialog = false" text> X </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <h3>Confirmation of Top-Up</h3>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Name : {{ bufferDialogData.InvesterName }} </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col> Role : {{ bufferDialogData.BrokerID }} </v-col>
          </v-row> -->
          <v-row no-gutters>
            <v-col> Cash Amount : {{ bufferDialogData.PriceAmount }} </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              Time of money transfer : {{ bufferDialogData.datePaid }}
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Current Balance : {{ bufferDialogData.balance }} </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <h4>slip</h4>
              <v-img :src="getSlipImage(bufferDialogData.slip)" contain></v-img>
            </v-col>
          </v-row>

          <v-row style="margin: 80px 0 0 0">
            <v-col>
              <v-btn color="primary" @click="approveTopupHandle()">
                accept
              </v-btn>
            </v-col>
            <v-col align="right">
              <v-btn color="primary" @click="topupDialog = false">
                not accept
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="topupRejectDialog" persistent max-width="400">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="topupRejectDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <h3>Confirmation of Top-Up</h3>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Name : asd </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Role : asd </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Cash Amount : 999 </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col> Time of money transfer : 11/11/1111 11:11 </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col>
              <v-text-field
                label="Detail"
                outlined
                dense
                hide-details
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" block> accept </v-btn>
            </v-col>
            <v-col>
              <v-btn color="primary" block> not accept </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="uploadSlipDialog" persistent max-width="400">
      <v-card>
        <v-container>
          <v-row>
            <v-col align="right">
              <v-btn @click="uploadSlipDialog = false" text> X </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-form valid="formSlipUpload">
                <v-file-input
                  v-model="withdrawSlip"
                  label="upload slip"
                  color="primary"
                  accept="image/png, image/jpeg"
                  filled
                  dense
                  hide-details
                >
                </v-file-input>
              </v-form>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn color="primary" @click="UploadSlipImageHandle">
                Upload
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        id: 28,
        RefID: 1,
        FaceIMG: 'kyc/1635423412520_Screen Shot 2564-09-08 at 11.24.25.png',
        BookbankIMG: 'kyc/1635423412526_Screen Shot 2564-10-12 at 14.17.26.png',
        FrontPassportIMG:
          'kyc/1635423412559_Screen Shot 2564-10-19 at 12.27.05.png',
        BackPassportIMG:
          'kyc/1635423412569_ESP32-DOIT-DEVKIT-V1-Board-Pinout-36-GPIOs-updated.jpeg',
        FirstName: 'Praprute',
        LastName: 'Pummala',
        DateOfBirth: '1999-02-21 00:00:00',
        Gender: 'male',
        Phone: '0990576878',
        Country: 224,
        City: 'bangkok',
        PostalCode: '10230',
        Address1: '169/47 suinamornpan suinsiam kannayao',
        Address2: '-',
        Nationality: 'thai',
        PassportNumber: '1209601262381',
        EmploymentStatus: 'pause',
        EmploymentAddress: '-',
        phone_code: 66,
        country_code: 'TH',
        country_name: 'Thailand',
        continent_name: 'Asia',
      },
      KYCform: {
        id: null,
        RefID: null,
        FaceIMG: null,
        BookbankIMG: null,
        FrontPassportIMG: null,
        BackPassportIMG: null,
        FirstName: null,
        LastName: null,
        DateOfBirth: null,
        Gender: null,
        Phone: null,
        Country: 224,
        City: null,
        PostalCode: null,
        Address1: null,
        Address2: null,
        Nationality: null,
        PassportNumber: null,
        EmploymentStatus: null,
        EmploymentAddress: null,
        phone_code: 66,
        country_code: null,
        country_name: null,
        continent_name: null,
      },
      approveKYCform: {
        details: '',
        idUser: null,
        accountnumber: '',
        bankname: '',
        accountname: '',
        swiftcode: '',
        approve: 0,
      },
      withdrawSlip: null,
      headers: [
        { text: '#', value: 'index' },
        { text: 'Role', value: 'Role' },
        { text: 'User ID', value: 'UserID' },
        { text: 'Investment', value: 'Investment' },
        { text: 'Amount of Shares', value: 'AmountShare' },
        { text: 'Balance', value: 'Balance' },
        { text: 'Status', value: 'active' },
        { text: 'Details', value: 'Details' },
        { text: 'Broker ID', value: 'BrokerID' },
        { text: 'Registration Date', value: 'RegisterationDate' },
        { text: 'Date of Approval', value: 'DateOfApprove' },
      ],
      headersList: [
        [
          { text: '#', value: 'index' },
          { text: 'Role', value: 'Role' },
          { text: 'User ID', value: 'UserID' },
          { text: 'Investment', value: 'Investment' },
          { text: 'Amount of Shares', value: 'AmountShare' },
          { text: 'Balance', value: 'Balance' },
          { text: 'Status', value: 'active' },
          { text: 'Details', value: 'Details' },
          { text: 'Broker ID', value: 'BrokerID' },
          { text: 'Registration Date', value: 'RegisterationDate' },
          { text: 'Date of Approval', value: 'DateOfApprove' },
        ],
        [
          { text: '#', value: 'index' },
          { text: 'User ID', value: 'userID' },
          { text: 'Investment', value: 'Investment' },
          { text: 'Percentage Gained', value: 'PercentCom' },
          { text: 'Balance', value: 'Balance' },
          { text: 'Status', value: 'active' },
          { text: 'Details', value: '' },
          { text: 'Broker ID', value: 'idbroker' },
          { text: 'Registration Date', value: 'RegisterationDate' },
          { text: 'Date of Approval', value: 'DateOfApprove' },
        ],
        [
          { text: '#', value: 'index' },
          { text: 'Transaction ID', value: 'No' },
          { text: 'Price', value: 'Price' },
          { text: 'Contract Type', value: 'ContractYear' },
          { text: 'Investor ID', value: 'InvesterId' },
          { text: 'Investor Name', value: 'InvesterName' },
          { text: 'Dividend', value: 'AmountDividend' },
          { text: 'Broker ID', value: 'RefID' },
          { text: 'Customer Service', value: '' },
          { text: 'CFO Approve', value: 'CFO' },
          { text: 'CEO Approve', value: 'CEO' },
          { text: 'Date', value: 'timestampDividend' },
        ],
        [
          { text: '#', value: 'index' },
          { text: 'Bank', value: 'BankName' },
          { text: 'Account Number', value: 'AccountNumber' },
          { text: 'Account Name', value: 'AccountName' },
          { text: 'CEO Approve', value: 'CEO' },
          { text: 'CFO Approve', value: 'CFO' },
          { text: 'Timestamp', value: 'DateWithDraw' },
        ],
        //         {
        //   "idtransactionCommission": 1,
        //   "No": "CM2110290001",
        //   "idUser": 28,
        //   "BrokerID": 1,
        //   "BrokerName": "p Pummala",
        //   "InvestAmount": 600,
        //   "Commission": 84,
        //   "DateTime": "2021-10-29 21:57:30",
        //   "timestamp": "2021-10-29 15:20:17",
        //   "CEO": 0,
        //   "CFO": 0,
        //   "transactionID": 64
        // }
        [
          { text: '#', value: 'index' },
          { text: 'Transaction ID', value: 'No' },
          { text: 'Paid from Contract', value: 'FromContract' },
          { text: 'Broker ID', value: 'BrokerID' },
          { text: 'Investor ID', value: 'idUser' },
          { text: 'Broker Name', value: 'BrokerName' },
          // { text: 'Percentage Gained', value: '' },
          // { text: 'Contract Type', value: '' },
          // { text: 'Contract Start', value: 'dateStart' },
          { text: 'Invest Amount', value: 'InvestAmount' },
          { text: 'Broker Commission', value: 'Commission' },
          { text: 'CEO Approve', value: 'CEO' },
          { text: 'CFO Approve', value: 'CFO' },
          { text: 'Timestamp', value: 'TimeStamp' },
        ],
        [
          { text: '#', value: 'index' },
          { text: 'User ID', value: 'idUser' },
          { text: 'Transaction ID', value: 'NoTopup' },
          { text: 'Investor Name', value: 'InvesterName' },
          { text: 'Price Amount', value: 'PriceAmount' },
          { text: 'Time of Payslip', value: 'datePaid' },
          { text: 'Current Balance', value: 'balance' },
          { text: 'CEO Approve', value: 'CEO' },
          { text: 'CFO Approve', value: 'CFO' },
          { text: 'Financing', value: 'financing' },
          // { text: 'Slip', value: 'slip' },
          { text: 'Broker ID', value: 'RefID' },
          { text: 'Request Date', value: 'datePaid' },
        ],
      ],
      bufferDialogData: {},
      tableData: null,
      tabs: [
        { id: 0, text: 'All users' },
        { id: 1, text: 'Broker' },
        { id: 2, text: 'Pending Dividend' },
        { id: 3, text: 'Pending Withdrawal' },
        { id: 4, text: 'Pending Commission' },
        { id: 5, text: 'Top-Up' },
      ],
      tab: 0,
      KYCdialog: false,
      KYCrejectDialog: false,
      dividendConfirmDialog: false,
      withdrawalConfirmDialog: false,
      commissionConfirmDialog: false,
      topupDialog: false,
      topupRejectDialog: false,
      uploadSlipDialog: false,
    }
  },
  methods: {
    fetchTableData() {
      this.$axios
        .get(`/admin/getData/${this.tab}`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.tableData = response.data.message
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    fetchKYCindex(item) {
      // getIndexKYC
      this.$axios
        .post(`/getIndexKYC`, { idUser: item.UserID })
        .then((response) => {
          if (response.data.success == 'success') {
            this.KYCform = response.data.message
            this.KYCdialog = true
            console.log(this.KYCform)
          } else {
            alert('err')
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    getImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/getImageKYC/${path}`
      }
    },
    getSlipImage(path) {
      if (path) {
        return `${process.env.SERVER_URL}/getImageSlip/${path}`
      }
    },
    uploadSlip() {
      this.uploadSlipDialog = true
    },
    UploadSlipImageHandle() {
      var formdata = new FormData()

      formdata.append(
        'idtransactionWithdraw',
        this.bufferDialogData.idtransactionWithdraw
      )
      formdata.append('image', this.withdrawSlip)

      this.$axios
        .post(`/UpdateWithDraw`, formdata)
        .then((response) => {
          if (response.data.success == 'success') {
            alert(response.data.message_th)
            this.uploadSlipDialog = false
            this.fetchTableData()
          } else {
            alert('err')
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    KYCdialogHandle(item) {
      this.fetchKYCindex(item)
      this.KYCdialog = true
    },
    approveKYCHandle(mode) {
      this.approveKYCform.idUser = this.KYCform.id

      if (mode == 1) {
        if (
          this.approveKYCform.accountnumber == '' ||
          this.approveKYCform.bankname == '' ||
          this.approveKYCform.accountname == '' ||
          this.approveKYCform.swiftcode == ''
        ) {
          alert('กรุณากรอกข้อมูลบัญชีธนาคารให้ครบถ้วน')
          return
        }
        // approve
        this.approveKYCform.approve = 1

        this.$axios
          .post(`/approveKYC`, this.approveKYCform)
          .then((response) => {
            if (response.data.success == 'success') {
              alert(response.data.message_th)
              this.KYCdialog = false
              this.fetchTableData()
            } else {
              alert(
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      } else if (mode == 2) {
        // reject
        this.approveKYCform.approve = 0

        this.$axios
          .post(`/approveKYC`, this.approveKYCform)
          .then((response) => {
            if (response.data.success == 'success') {
              alert(response.data.message_th)
              this.KYCrejectDialog = false
              this.KYCdialog = false
              this.fetchTableData()
            } else {
              alert(
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      }
    },
    rejectToEmailHandle() {
      this.$axios.post('/approveKYC', form).then((response) => {
        if (response.data.success) {
        }
      })
    },
    approveDividendHandle() {
      // /ApproveDivident
      // this.bufferDialogData.No
      // console.log('approve dividend')
      // console.log(this.bufferDialogData.No)

      this.$axios
        .post(`/ApproveDivident`, { No: this.bufferDialogData.No })
        .then((response) => {
          if (response.data.success == 'success') {
            alert(response.data.message_th)
            this.dividendConfirmDialog = false
            this.fetchTableData()
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    approveCommissionHandle() {
      // console.log(this.bufferDialogData)

      // /ApproveCommission
      this.$axios
        .post(`/ApproveCommission`, { No: this.bufferDialogData.No })
        .then((response) => {
          if (response.data.success == 'success') {
            alert(response.data.message_th)
            this.commissionConfirmDialog = false
            this.fetchTableData()
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    approveTopupHandle() {
      // console.log(this.bufferDialogData)

      // /ApproveCommission
      this.$axios
        .post(`/ApproveTopup`, { No: this.bufferDialogData.NoTopup })
        .then((response) => {
          if (response.data.success == 'success') {
            alert(response.data.message_th)
            this.fetchTableData()
            this.topupDialog = false
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.fetchTableData()
            this.topupDialog = false
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    tabChanged() {
      // console.log(this.tab)
      this.headers = this.headersList[this.tab]
      this.fetchTableData()
    },
    rowClickHandle(item) {
      switch (this.tab) {
        case 0:
          console.log(0)
          break
        case 1:
          console.log(0)
          break
        case 2:
          // dividend
          this.bufferDialogData = item
          this.dividendConfirmDialog = true
          break
        case 3:
          // withdraw
          this.bufferDialogData = item
          this.withdrawalConfirmDialog = true
          break
        case 4:
          // commission
          this.bufferDialogData = item
          this.commissionConfirmDialog = true
          break
        case 5:
          this.bufferDialogData = item
          this.topupDialog = true
          break
        default:
          break
      }
    },
    userDetailsClickHandle(item) {
      this.fetchKYCindex(item)
    },
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      this.fetchTableData()
    } else {
      // alert('ERROR!')
      // this.$router.push('/login')
    }
  },
}
</script>