<template>
  <div>
    <v-app-bar fixed app clipped-left>
      <v-app-bar-nav-icon class="ml-4" @click.stop="drawer = !drawer" />

      <v-toolbar-title>
        <v-img src="/images/asset/amazie logo.png" height="50" contain />
      </v-toolbar-title>
      <v-spacer />

      <div class="d-flex" v-if="userData != null">
        <div class="d-flex rounded-lg" style="background: #eee">
          <span class="mx-3">
            <div align="right">current</div>
            <div>
              ฿
              {{
                parseFloat(userData.balance).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2,
                })
              }}
            </div>
          </span>
          <v-divider vertical color="grey"></v-divider>
          <span class="my-auto mx-2">
            <v-avatar color="primary" size="30">
              <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
            </v-avatar>
            {{ userData.FirstName }} {{ userData.LastName }}
          </span>
        </div>
        <span class="mx-3 my-auto">
          <v-btn class="rounded-pill black white--text">
            <span
              class="mx-1"
              :class="$i18n.locale == 'th' ? 'yellow--text' : ''"
            >
              TH
            </span>
            |
            <span
              class="mx-1"
              :class="$i18n.locale == 'en' ? 'yellow--text text--darken-5' : ''"
            >
              EN
            </span>
          </v-btn>
          <!-- active color #D5AA1F -->
        </span>
      </div>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      color="primary"
      width="300px"
      dark
      app
      clipped
      style="z-index: 99"
    >
      <v-list>
        <v-list-item-group v-model="group" mandatory active-class="white--text">
          <v-list-item v-for="(item, index) in link" :key="index" :to="item.to">
            <v-list-item-icon>
              <v-icon>
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
        <v-list-item-group>
          <v-list-item @click="logoutHandle">
            <v-list-item-icon>
              <v-icon class="red--text"> mdi-logout</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="red--text"> Log Out </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <nuxt-child class="childDeco" />
    <!-- <coin-background /> -->
  </div>
</template>

<style scoped>
.childDeco {
  background: #efefef !important;
  margin-top: 60px !important;
  z-index: 9999 !important;
}

.childDeco,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
</style>

<script>
import CoinBackground from '~/components/Background/CoinBackground.vue'
export default {
  components: { CoinBackground },
  data() {
    return {
      drawer: false,
      clipped: false,
      group: null,
      userData: null,
      link: [
        {
          icon: 'mdi-view-dashboard-outline',
          text: 'Dashboard',
          to: '/admin/dashboard',
        },
        // {
        //   icon: 'mdi-card-account-details-outline',
        //   text: 'Member',
        //   to: '/admin/member',
        // },
        // {
        //   icon: 'mdi-information-outline',
        //   text: 'Information',
        //   to: '/user/information',
        // },
      ],
    }
  },
  watch: {
    group() {
      this.drawer = false
    },
  },
  methods: {
    fetchUser() {
      // /getUser
      this.$axios
        .get(`/getUser`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.userData = response.data.message
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push()
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    logoutHandle() {
      this.$cookies.removeAll()
      this.$router.push('/')
    },
  },
  beforeMount() {
    // if (this.$cookies.get('role') != 3) {}
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   this.fetchUser()
    // } else {
    //   this.$router.push('/login')
    // }
  },
}
</script>
