<template>
  <div>
    <v-row dense>
      <v-col cols="12">
        <v-card dark color="transparent" elevation="0" class="pa-0 ma-0">
          <!-- <v-img
            height="200"
            src="/images/asset/BG-2.png"
            class="pa-0 ma-0"
            z-index="0"
          > -->
          <v-sheet class="gradBG" height="200">
            <v-img
              height="200"
              class="pa-0 ma-0"
              src="/images/asset/wave.png"
              z-index="1"
            >
              <v-card-title class="text-h4"> {{ data.level }} </v-card-title>
              <v-spacer></v-spacer>
              <div class="d-flex mx-2">
                <!-- <v-icon color="#53F444" class="">mdi-triangle</v-icon> -->
                <v-card-subtitle class="text-h5">
                  {{ data.balance }}
                  <!-- ฿
                  {{
                    parseFloat(data.balance).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }} -->
                </v-card-subtitle>
              </div>
            </v-img>
            <!-- </v-img> -->
          </v-sheet>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.flipover {
  transform: rotate(180deg);
}

.gradBG {
  background: rgb(17, 23, 13);
  background: linear-gradient(135deg, #000 0%, #151105 100%);
}
</style>

<script>
export default {
  props: ['data'],
  data() {
    return {}
  },
  methods: {
    test() {},
  },
  beforeMount() {},
}
</script>