<template>
  <div>
    <v-card>
      <v-container>
        <v-row>
          <v-col>
            <form id="checkout-form" action="/mdw/ibk" method="GET">
              <div>
                <input type="hidden" name="amount" value="1000" />
              </div>
              <input type="hidden" name="omiseToken" />
              <input type="hidden" name="auth" />
              <!-- <button id="pay-button-thb1">100</button> -->
              <v-btn id="pay-button-thb1">100</v-btn>
              <v-btn id="pay-button-thb2">1,000</v-btn>
              <v-btn id="pay-button-thb3">10,000</v-btn>
            </form>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
    }
  },
  //   props: ['data'],
  methods: {
    OmiseSetup() {
      OmiseCard.configure({
        publicKey: 'pkey_test_5pc4tfuajap242bduyg',
        amount: 0,
        submitLabel: 'Pay',
        submitFormTarget: '#checkout-form',
      })
      const buttonTHB1 = document.querySelector('#pay-button-thb1')
      const buttonTHB2 = document.querySelector('#pay-button-thb2')
      const buttonTHB3 = document.querySelector('#pay-button-thb3')
      const amount = document.querySelector('input[name="amount"]')
      const auth = document.querySelector('input[name="auth"]')
      const form = document.querySelector('#checkout-form')
      const omiseToken = document.querySelector('input[name="omiseToken"]')

      //set cookie
      auth.value = this.$cookies.get('token')

      function formClosedhandler() {
        console.log('Form is closed.')
      }

      function createTokenSuccessHandler(token) {
        console.log('[Omise.js Testing page]: Payment success ! TOKEN' + token)
        omiseToken.value = token
        form.submit()
      }

      buttonTHB1.addEventListener('click', function (event) {
        event.preventDefault()
        amount.value = 10000
        OmiseCard.open({
          frameLabel: 'Esimo',
          frameDescription: 'Invoice #3847 in THB',
          currency: 'THB',
          amount: 10000,
          defaultPaymentMethod: 'internet_banking_ktb',
          onCreateTokenSuccess: createTokenSuccessHandler,
          onFormClosed: formClosedhandler,
        })
      })
      buttonTHB2.addEventListener('click', function (event) {
        event.preventDefault()
        amount.value = 100000
        OmiseCard.open({
          frameLabel: 'Esimo',
          frameDescription: 'Invoice #3847 in THB',
          currency: 'THB',
          amount: 100000,
          defaultPaymentMethod: 'internet_banking_scb',
          onCreateTokenSuccess: createTokenSuccessHandler,
          onFormClosed: formClosedhandler,
        })
      })
      buttonTHB3.addEventListener('click', function (event) {
        event.preventDefault()
        amount.value = 1000000
        OmiseCard.open({
          frameLabel: 'Esimo',
          frameDescription: 'Invoice #3847 in THB',
          currency: 'THB',
          amount: 1000000,
          defaultPaymentMethod: 'internet_banking_bbl',
          onCreateTokenSuccess: createTokenSuccessHandler,
          onFormClosed: formClosedhandler,
        })
      })
    },
  },
  mounted() {
    this.OmiseSetup()
  },
}
</script>
