<template>
  <div class="pa-5">
    <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
    <v-container>
      <v-sheet class="rounded-lg pa-10 mt-5" color="primary">
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="#D4A410" align="center">
              <h3>Internet Banking</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row class="mt-10">
          <v-col>
            <v-sheet
              class="pa-1 rounded-lg"
              :color="sheetSelectedIndex == 0 ? '#D4A410' : 'white'"
            >
              <v-sheet
                class="rounded-lg py-8 pointer"
                :style="sheetSelectedIndex == 0 ? 'color: #D4A410' : ''"
                color="white"
                align="center"
                @click="amountClickHandle(0)"
              >
                <h3>฿ 35,000</h3>
              </v-sheet>
            </v-sheet>
          </v-col>
          <v-col>
            <v-sheet
              class="pa-1 rounded-lg"
              :color="sheetSelectedIndex == 1 ? '#D4A410' : 'white'"
            >
              <v-sheet
                class="rounded-lg py-8 pointer"
                :style="sheetSelectedIndex == 1 ? 'color: #D4A410' : ''"
                color="white"
                align="center"
                @click="amountClickHandle(1)"
              >
                <h3>฿ 70,000</h3>
              </v-sheet>
            </v-sheet>
          </v-col>
          <v-col>
            <v-sheet
              class="pa-1 rounded-lg"
              :color="sheetSelectedIndex == 2 ? '#D4A410' : 'white'"
            >
              <v-sheet
                class="rounded-lg py-8 pointer"
                :style="sheetSelectedIndex == 2 ? 'color: #D4A410' : ''"
                color="white"
                align="center"
                @click="amountClickHandle(2)"
              >
                <h3>฿ 105,000</h3>
              </v-sheet>
            </v-sheet>
          </v-col>
          <v-col>
            <v-sheet
              class="pa-1 rounded-lg"
              :color="sheetSelectedIndex == 3 ? '#D4A410' : 'white'"
            >
              <v-sheet
                class="rounded-lg py-8 pointer"
                :style="sheetSelectedIndex == 3 ? 'color: #D4A410' : ''"
                color="white"
                align="center"
                @click="amountClickHandle(3)"
              >
                <h3>฿ 140,000</h3>
              </v-sheet>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row class="mt-10">
          <v-col class="white--text">
            <b>Desired Top-up Amount *</b>
            <br />
            (Excluding additional Charge 4.07% *)
          </v-col>
        </v-row>

        <v-row class="mt-10">
          <v-col>
            <span style="color: #d4a410"><h4>Total amount</h4></span>
            <v-text-field
              v-model="totalAmount"
              background-color="white"
              class="input rounded-lg my-5"
              prefix="฿"
              filled
              hide-details
              readonly
            >
            </v-text-field>
          </v-col>
        </v-row>

        <v-row class="my-10">
          <v-col>
            <form id="checkout-form" action="/mdw/ibk" method="GET">
              <div>
                <input type="hidden" name="amount" value="3642450" />
              </div>
              <input type="hidden" name="omiseToken" />
              <input type="hidden" name="auth" />

              <v-btn
                id="pay-button-thb1"
                block
                color="#D4A410"
                large
                @click="submitHandle()"
              >
                Confirm
              </v-btn>
              <!-- 4.07 -->
            </form>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      totalAmount: 35000,
      sheetSelectedIndex: 0,
    }
  },
  methods: {
    amountClickHandle(index) {
      this.sheetSelectedIndex = index
      switch (index) {
        case 0:
          this.totalAmount = 35000
          this.calTotalAmount()
          break
        case 1:
          this.totalAmount = 70000
          this.calTotalAmount()
          break
        case 2:
          this.totalAmount = 105000
          this.calTotalAmount()
          break
        case 3:
          this.totalAmount = 140000
          this.calTotalAmount()
          break
        default:
          return 0
          break
      }
    },
    calTotalAmount() {
      const aa = document.querySelector('input[name="amount"]')
      aa.value = parseFloat(this.totalAmount * 1.0407) * 100
      // console.log(aa.value)
      this.totalAmount = parseFloat(this.totalAmount * 1.0407).toLocaleString(
        undefined,
        {
          minimumFractionDigits: 2,
          maximumFractionDigits: 2,
        }
      )
    },
    submitHandle() {
      // console.log(this.sheetSelectedIndex)
      // console.log(this.totalAmount)
    },
    OmiseSetup() {
      OmiseCard.configure({
        publicKey: 'pkey_test_5pc4tfuajap242bduyg',
        submitLabel: 'Pay',
        submitFormTarget: '#checkout-form',
      })
      const buttonTHB1 = document.querySelector('#pay-button-thb1')
      const aa = document.querySelector('input[name="amount"]')
      const auth = document.querySelector('input[name="auth"]')
      const form = document.querySelector('#checkout-form')
      const omiseToken = document.querySelector('input[name="omiseToken"]')

      //set cookie
      auth.value = this.$cookies.get('token')

      function formClosedhandler() {
        console.log('Form is closed.')
      }

      function createTokenSuccessHandler(token) {
        console.log('[Omise.js Testing page]: Payment success ! TOKEN' + token)
        omiseToken.value = token
        form.submit()
      }

      buttonTHB1.addEventListener('click', function (event) {
        event.preventDefault()

        OmiseCard.open({
          frameLabel: 'AMAZIE FINTECH',
          frameDescription: 'Invoice #3847 in THB',
          currency: 'THB',
          amount: aa.value,
          defaultPaymentMethod: 'internet_banking',
          onCreateTokenSuccess: createTokenSuccessHandler,
          onFormClosed: formClosedhandler,
        })
      })
    },
  },
  mounted() {
    this.calTotalAmount()
    this.OmiseSetup()
  },
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>