<template>
  <div>
    <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
    <!-- <marquee>
      ooooooooooaooooooooooaooooooooooaooooooooooaooooooooooaooooooooooaooooooooooaooooooooooaooooooooooa
    </marquee> -->
    <v-container>
      <v-row>
        <v-col class="mt-5">
          <v-sheet dark class="gradBG rounded-xl">
            <v-container class="py-3">
              <v-row>
                <!-- credit debit card -->
                <v-col cols="6" md="3" align="center">
                  <div>
                    <v-sheet
                      class="rounded-xl pointer"
                      color="white"
                      width="100"
                      height="100"
                      @click="$router.push('/user/wallet/creditcard')"
                    >
                      <div>
                        <!-- <v-icon color="#C4A732" class="mt-5" size="60">
                          mdi-credit-card
                        </v-icon> -->
                        <img
                          class="mt-4"
                          src="/images/asset/credit-card-payment.png"
                          alt="John"
                          contain
                        />
                      </div>
                    </v-sheet>
                  </div>
                  <div class="mt-3">Credit/Debit Card</div>
                  <div class="caption yellow--text">Deposit</div>
                </v-col>

                <!-- internet banking -->
                <v-col cols="6" md="3" align="center">
                  <div>
                    <v-sheet
                      class="rounded-xl pointer"
                      color="white"
                      width="100"
                      height="100"
                      @click="$router.push('/user/wallet/ibanking')"
                    >
                      <div>
                        <!-- <v-icon color="#C4A732" class="mt-5" size="60">
                          mdi-web
                        </v-icon> -->
                        <img
                          class="mt-4"
                          src="/images/asset/global.png"
                          alt="John"
                          contain
                        />
                      </div>
                    </v-sheet>
                  </div>
                  <div class="mt-3">Internet Banking</div>
                  <div class="caption yellow--text">Deposit</div>
                </v-col>

                <!-- transfer -->
                <v-col cols="6" md="3" align="center">
                  <div>
                    <v-sheet
                      class="rounded-xl pointer"
                      color="white"
                      width="100"
                      height="100"
                      @click="$router.push('/user/wallet/transfer')"
                    >
                      <div>
                        <!-- <v-icon color="#C4A732" class="mt-5" size="60">
                          mdi-sync
                        </v-icon> -->
                        <img
                          class="mt-4"
                          src="/images/asset/transfer.png"
                          alt="John"
                          contain
                        />
                      </div>
                    </v-sheet>
                  </div>
                  <div class="mt-3">Bank Transfer</div>
                  <div class="caption yellow--text">Deposit</div>
                </v-col>

                <v-col cols="6" md="3" align="center">
                  <div>
                    <v-sheet
                      class="rounded-xl pointer"
                      color="white"
                      width="100"
                      height="100"
                      @click="$router.push('/user/wallet/withdraw')"
                    >
                      <div>
                        <!-- <v-icon color="#C4A732" class="mt-5" size="60">
                          mdi-cash-remove
                        </v-icon> -->
                        <img
                          class="mt-4"
                          src="/images/asset/cash-withdrawal.png"
                          alt="John"
                          contain
                        />
                      </div>
                    </v-sheet>
                  </div>
                  <div class="mt-3">Withdraw</div>
                  <div class="caption yellow--text">Withdraw</div>
                </v-col>
              </v-row>
            </v-container>
          </v-sheet>
        </v-col>
      </v-row>

      <!-- transaction -->
      <v-row>
        <v-col>
          <v-row>
            <v-col class="py-0">
              <v-tabs v-model="tab" @change="tabItems">
                <v-tab>Transaction History</v-tab>
                <v-tab>Transaction Status</v-tab>
              </v-tabs>
            </v-col>
          </v-row>
          <v-row v-if="tableData != null">
            <v-col class="py-0">
              <!-- data table -->
              <v-data-table :headers="headers" :items="tableData">
                <template v-slot:item.id="{ item }">
                  {{ tableData.indexOf(item) + 1 }}
                </template>
                <template v-slot:item.amount="{ item }">
                  ฿
                  {{
                    parseFloat(item.amount).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
                <template v-slot:item.net="{ item }">
                  ฿
                  {{
                    parseFloat(item.net).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
                <template v-slot:item.Status="{ item }">
                  <v-chip v-if="item.Status == 'pending'" color="warning">
                    {{ item.Status }}
                  </v-chip>
                  <v-chip v-if="item.Status == 'successful'" color="success">
                    {{ item.Status }}
                  </v-chip>
                  <v-chip v-if="item.Status == 'failed'" color="danger">
                    {{ item.Status }}
                  </v-chip>
                </template>
                <template v-slot:item.statusPaid="{ item }">
                  <v-chip v-if="item.statusPaid == 'pending'" color="warning">
                    {{ item.statusPaid }}
                  </v-chip>
                  <v-chip
                    v-if="item.statusPaid == 'successful'"
                    color="success"
                  >
                    {{ item.statusPaid }}
                  </v-chip>
                  <v-chip v-if="item.statusPaid == 'failed'" color="danger">
                    {{ item.statusPaid }}
                  </v-chip>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.gradBG {
  background: rgb(17, 23, 13);
  background: linear-gradient(
    90deg,
    rgba(17, 23, 13, 1) 0%,
    rgba(95, 95, 95, 1) 100%
  );
}
</style>

<script>
export default {
  data() {
    return {
      tab: 0,
      headers: [
        { text: '#', value: 'id' },
        { text: 'Topup ID', value: 'NoTopup' },
        { text: 'Type', value: 'financing' },
        { text: 'Amount', value: 'amount' },
        { text: 'Net Amount', value: 'net' },
        { text: 'Status', value: 'statusPaid', align: 'center' },
        { text: 'Timestamp', value: 'datePaid' },
      ],
      headersList: [
        [
          { text: '#', value: 'id' },
          { text: 'Topup ID', value: 'NoTopup' },
          { text: 'Type', value: 'financing' },
          { text: 'Amount', value: 'amount' },
          { text: 'Net Amount', value: 'net' },
          { text: 'Status', value: 'statusPaid', align: 'center' },
          { text: 'Timestamp', value: 'datePaid' },
        ],
        [
          { text: '#', value: 'id' },
          { text: 'Transaction ID', value: 'No' },
          { text: 'Account Name', value: 'AccountName' },
          { text: 'Account Number', value: 'AccountNumber' },
          { text: 'Amount', value: 'amount' },
          { text: 'Status', value: 'Status', align: 'center' },
          { text: 'Timestamp', value: 'DateWithDraw' },
        ],
      ],
      tableData: null,
    }
  },
  methods: {
    fetchData() {
      // /getWallet/:type
      this.$axios
        .get(`/getWallet/${this.tab}`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.tableData = response.data.message
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    tabItems() {
      this.headers = this.headersList[this.tab]
      this.fetchData()
    },
  },
  mounted() {
    // this.OmiseSetup()
  },
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    this.fetchData()
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>
