<template>
  <div class="pa-5">
    <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
    <v-container>
      <v-sheet class="rounded-lg pa-10 mt-5" color="primary" height="770">
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="#D4A410" align="center">
              <h3>Send Receipt</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-form ref="formRef">
          <v-row>
            <v-col cols="12">
              <v-file-input
                v-model="form.img_slip"
                label="Upload slip"
                background-color="white"
                prepend-icon=""
                prepend-inner-icon="mdi-bank"
                append-icon="mdi-upload"
                accept="image/png, image/jpeg, image/jpg"
                class="rounded-lg"
                filled
                required
                dense
                hide-details
              >
              </v-file-input>
            </v-col>
          </v-row>

          <v-row style="margin-top: 140px">
            <v-col cols="12">
              <span class="white--text">Amount</span>
              <v-text-field
                v-model="form.amount"
                label="Amount"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>

          <!-- <v-row style="margin-top: 40px">
            <v-col class="white--text">
              <b>Desired Top-up Amount *</b>
              <br />
              (Excluding additional Charge 4.07% *)
            </v-col>
          </v-row> -->

          <v-row class="mt-10">
            <v-col>
              <span style="color: #d4a410"><h4>Date Receipt</h4></span>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.date"
                    label="Date"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    background-color="white"
                    class="input rounded-lg my-5"
                    filled
                    required
                    hide-details
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="form.date"
                  :active-picker.sync="activePicker"
                  :max="
                    new Date(
                      Date.now() - new Date().getTimezoneOffset() * 60000
                    )
                      .toISOString()
                      .substr(0, 10)
                  "
                  min="1950-01-01"
                  @change="save"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col>
              <span style="color: #d4a410"><h4>Time Receipt</h4></span>
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="form.time"
                transition="scale-transition"
                offset-y
                max-width="340px"
                min-width="300px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.time"
                    label="Time"
                    background-color="white"
                    class="input rounded-lg my-5"
                    filled
                    prepend-inner-icon="mdi-clock-time-four-outline"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  format="24hr"
                  v-if="menu2"
                  v-model="form.time"
                  full-width
                  @click:minute="$refs.menu2.save(form.time)"
                ></v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-form>

        <v-row>
          <v-col>
            <v-btn block color="#D4A410" large @click="submitHandle()">
              Confirm
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activePicker: null,
      menu: false,
      menu2: false,
      formRef: false,
      form: {
        img_slip: null,
        amount: null,
        date: null,
        time: null,
      },
    }
  },
  methods: {
    submitHandle() {
      console.log(this.form)
      // /transfer-slip
      var formdata = new FormData()
      formdata.append('amount', this.form.amount)
      formdata.append('date', this.form.date)
      formdata.append('time', this.form.time)
      formdata.append('slip', this.form.img_slip)

      // console.log(formdata)
      this.$axios
        .post(`/transfer-slip`, formdata)
        .then((response) => {
          if (response.data.success == 'success') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/wallet/result/success')
          } else if (response.data.success == 'error') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/wallet/result/fail')
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    save(date) {
      this.$refs.menu.save(date)
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
  },
  mounted() {},
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>