<template>
  <div class="pa-5">
    <script type="text/javascript" src="https://cdn.omise.co/omise.js"></script>
    <v-container>
      <v-sheet
        class="rounded-lg pa-10 mt-5"
        color="primary"
        v-if="pageStatus == 1"
      >
        <v-row>
          <v-col cols="8" md="6">
            <v-sheet class="rounded-lg py-4" color="#D4A410" align="center">
              <h3>Withdrawal Confirmation</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-form ref="formRef">
          <v-row>
            <v-col cols="12">
              <h3 style="color: #d4a410">*Bank Name</h3>
              <v-text-field
                v-model="form.BankName"
                label="Bank"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3 style="color: #d4a410">*Account Number</h3>
              <v-text-field
                v-model="form.AccountNumber"
                label="Account number"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3 style="color: #d4a410">*Account Name</h3>
              <v-text-field
                v-model="form.AccountName"
                label="Account name"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3 style="color: #d4a410">*SWIFT Code</h3>
              <v-text-field
                v-model="form.SwiftCode"
                label="SWIFT"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <h3 style="color: #d4a410">*Amount</h3>
              <v-text-field
                v-model="form.amount"
                label="Amount"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                dense
                hide-details
              />
            </v-col>
          </v-row>
        </v-form>

        <v-row class="mt-10">
          <v-col>
            <v-btn block color="#D4A410" large @click="withdrawHandle()">
              Withdrawal
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>

      <v-sheet
        class="rounded-lg pa-10 mt-5 #D4A410--text"
        color="primary"
        v-if="pageStatus == 2"
      >
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="#D4A410" align="center">
              <h3>Withdraw</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span>Amount</span>
            <span
              >฿
              {{
                parseFloat(form.amount).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2,
                })
              }}</span
            >
          </v-col>
        </v-row>
        <!-- <v-row>
          <v-col class="d-flex justify-space-between">
            <span>Fee</span>
            <span
              >฿
              {{
                parseFloat(1).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2,
                })
              }}</span
            >
          </v-col>
        </v-row> -->
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span>Date Time</span>
            <span>{{ datetime_now }}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-divider class="#D4A410 darken-2 ma-4" />
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span>Net Withdrawal Amount</span>
            <span
              >฿
              {{
                parseFloat(form.amount).toLocaleString(undefined, {
                  minimumFractionDigits: 2,
                  maximumFractionDigits: 2,
                })
              }}</span
            >
          </v-col>
        </v-row>

        <v-row style="margin-top: 300px">
          <v-col>
            <v-btn block color="#D4A410" large @click="submitHandle()">
              Confirm
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      totalAmount: 35000,
      sheetSelectedIndex: 0,
      activePicker: null,
      menu: false,
      menu2: false,
      formRef: false,
      form: {
        BankName: null,
        AccountNumber: null,
        AccountName: null,
        SwiftCode: null,
        amount: null,
      },
      datetime_now: null,
      pageStatus: 1,
    }
  },
  methods: {
    withdrawHandle() {
      this.getDateTimeNow()
      this.pageStatus = 2
    },
    submitHandle() {
      // console.log(this.totalAmount)
      // /transfer-slip
      // /withdraw
      this.$axios
        .post(`/withdraw`, this.form)
        .then((response) => {
          if (response.data.success == 'success') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/wallet/result/success')
          } else if (response.data.success == 'error') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/wallet/result/fail')
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    getDateTimeNow() {
      const date_now = this.$moment_timezone(new Date(), 'Asia/Bangkok').format(
        'YYYY-MM-DD HH:mm:ss'
      )
      this.datetime_now = date_now
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
  },
  mounted() {},
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      // this.$parent.fetchUser()
    } else {
      // alert('ERROR!')
      // this.$router.push('/login')
    }
  },
}
</script>