<template>
  <div>
    <v-container fluid>
      <v-row>
        <!-- left panel -->
        <v-col cols="9">
          <v-row>
            <v-col>
              <v-card elevation="0">
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h3>Commission</h3>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col> graph </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0">
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h4>Amount Invested</h4>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col> graph </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
            <v-col>
              <v-card elevation="0">
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h4>Investor</h4>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col> graph </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <div class="d-flex justify-space-between">
                <h3 class="my-auto">All User Network</h3>
                <div>
                  <v-text-field
                    v-model="search"
                    placeholder="search"
                    dense
                    outlined
                    background-color="white"
                    class="rounded-pill my-auto pa-0"
                    prepend-inner-icon="mdi-magnify"
                  >
                  </v-text-field>
                </div>
              </div>
              <div v-if="tableData">
                <v-data-table
                  :headers="headers"
                  :items="tableData"
                  :search="search"
                >
                  <template v-slot:item.index="{ item }">
                    {{ tableData.indexOf(item) + 1 }}
                  </template>
                </v-data-table>
              </div>
            </v-col>
          </v-row>
        </v-col>

        <!-- right panel -->
        <v-col cols="3">
          <v-row>
            <v-col>
              <v-card elevation="0" color="#70D20E">
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h3 style="color: #301103">Commission</h3>
                    </v-col>
                  </v-row>
                  <v-row v-if="brokerData != null">
                    <v-col>
                      <h3 class="white--text">
                        ฿
                        {{
                          parseFloat(brokerData.Commission).toLocaleString(
                            undefined,
                            {
                              minimumFractionDigits: 2,
                              maximumFractionDigits: 2,
                            }
                          )
                        }}
                      </h3>
                    </v-col>
                  </v-row>
                  <v-row v-else>
                    <v-col>
                      <h3 class="white--text">0.00</h3>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0" color="#0E86E2">
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h3 style="color: #050c39">User Network</h3>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <h3 class="white--text">{{ UserNetwork || 0 }} User</h3>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card elevation="0" class="py-5">
                <v-container fluid>
                  <v-row no-gutters align="center">
                    <v-col cols="2">Link</v-col>
                    <v-col style="cursor: pointer">
                      <v-text-field
                        v-model="registerLink"
                        readonly
                        outlined
                        dense
                        append-icon="mdi-content-copy"
                        hide-details
                        @click="copyLink()"
                      >
                      </v-text-field>
                      <input
                        type="hidden"
                        id="copy-reflink"
                        :value="registerLink"
                      />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
          <!-- <v-row>
            <v-col>
              <v-card elevation="0">
                <v-container fluid>
                  <v-row>
                    <v-col> Transaction History </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row> -->
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: '',
      headers: [
        { text: '#', value: 'index' },
        { text: 'User ID', value: 'id' },
        { text: 'Invester Name', value: 'Name' },
        { text: 'Shares Amount', value: 'share' },
        { text: 'Active', value: 'active' },
        { text: 'Timestamp', value: 'TimeApprove' },
      ],
      tableData: null,
      UserNetwork: null,
      brokerData: null,
      registerLink: '',
    }
  },
  methods: {
    fetchData() {
      console.log('fetchData')
      //   /getAllUserNetwork
      this.$axios
        .get(`/getAllUserNetwork`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.UserNetwork = response.data.message.UserNetwork
            this.tableData = response.data.message.result2
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    fetchBroker() {
      // /getCommissionBroker
      this.$axios
        .get(`/getCommissionBroker`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.brokerData = response.data.message
            this.concatRegisLink()
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    concatRegisLink() {
      this.registerLink =
        this.registerLink +
        'http://127.0.0.1:3000/register?refid=' +
        this.brokerData.BrokerID.toString()
    },
    copyLink() {
      let testingCodeToCopy = document.querySelector('#copy-reflink')
      testingCodeToCopy.setAttribute('type', 'text')
      testingCodeToCopy.select()

      try {
        var successful = document.execCommand('copy')
        var msg = successful ? 'successful' : 'unsuccessful'
        alert('คัดลอกลิงค์สำเร็จ')
      } catch (err) {
        alert('เกิดปัญหาบางอย่าง กรุณาลองอีกครั้งหรือคัดลอกด้วยตนเอง')
      }

      /* unselect the range */
      testingCodeToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
  },
  beforeMount() {
    this.fetchData()
    this.fetchBroker()
  },
}
</script>