<template>
  <div class="pa-5">
    <v-container>
      <!-- investment plan -->
      <v-sheet
        class="rounded-lg pa-10 mt-5"
        color="primary"
        height="770"
        v-if="pageStatus == 1"
      >
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="yellow" align="center">
              <h3>Investment Plan</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-form ref="formRef" v-model="formValid">
          <v-row v-if="planList != null">
            <v-col cols="12">
              <h2 class="white--text">
                {{ planList[0].company_name }}
              </h2>
              <!-- <span class="white--text">{{ planList[0].company_name }}</span>
              <v-text-field
                v-model="form.contract"
                :items="contractList"
                item-text="text"
                item-value="value"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                hide-details
              /> -->
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <span class="white--text">Contract</span>
              <v-select
                v-model="form.contract"
                :items="contractList"
                item-text="text"
                item-value="value"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <span class="white--text">Dividend Plan</span>
              <v-select
                v-model="form.Plan"
                :items="dividendPlan"
                item-text="text"
                item-value="value"
                placeholder="Plan"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                hide-details
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <span class="white--text">Quantity</span>
              <v-text-field
                v-model="form.share"
                placeholder="Quantity"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                filled
                required
                :rules="numberRules"
                hide-details
                :@change="calTotalAmount()"
              />
            </v-col>
          </v-row>

          <!-- <v-row style="margin-top: 40px">
            <v-col class="white--text">
              <b>Desired Top-up Amount *</b>
              <br />
              (Excluding additional Charge 4.07% *)
            </v-col>
          </v-row> -->
          <v-row>
            <v-col cols="12">
              <span class="white--text">Total</span>
              <v-text-field
                v-model="form.amount"
                placeholder="Total"
                color="primary"
                class="input rounded-lg"
                background-color="white"
                prefix="฿"
                filled
                required
                hide-details
                readonly
              />
            </v-col>
          </v-row>
        </v-form>

        <v-row style="margin-top: 40px">
          <v-col>
            <v-btn block color="yellow" large @click="submitHandle()">
              Confirm
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>

      <!-- invoice -->
      <v-sheet
        class="rounded-lg pa-10 mt-5 yellow--text"
        color="primary"
        v-else-if="pageStatus == 2"
      >
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="yellow" align="center">
              <h3>INVOICE</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Type of investment</b></span>
            <span><b>Shares</b></span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Contract Duration</b></span>
            <span><b>3 Years</b></span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Quantity</b></span>
            <span>
              <b>{{ form.share }}</b>
            </span>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Date of Purchase</b></span>
            <span
              ><b>{{ form.dateStart }}</b></span
            >
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Date of Redemption</b></span>
            <span
              ><b>{{ form.dateFinish }}</b></span
            >
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Current Balance</b></span>
            <span v-if="userData != null">
              <b>
                <!-- {{ $parent.userData.balance }} -->
                <!-- {{ 111 }} -->
                ฿
                {{
                  parseFloat(userData.balance).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Total investment</b></span>
            <span>
              <b>
                {{ form.amount }}
                <!-- ฿
                {{
                  parseFloat(350000).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }} -->
              </b>
            </span>
          </v-col>
        </v-row>

        <v-row style="margin-top: 80px">
          <v-divider class="yellow darken-2 ma-4" />
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Outstanding Balance</b></span>
            <span>
              <b>
                ฿
                {{
                  parseFloat(outstandBalance).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              block
              color="yellow"
              class="white--text"
              large
              @click="confirmHandle()"
            >
              Confirm
            </v-btn>
          </v-col>
        </v-row>
        <!-- <v-row>
          <v-col>
            <v-btn
              block
              color="black"
              class="white--text"
              large
              @click="sendToEmail()"
            >
              Send to email
            </v-btn>
          </v-col>
        </v-row> -->
      </v-sheet>
    </v-container>

    <v-dialog max-width="600" v-model="resultDialog" persistent>
      <v-card>
        <v-container>
          <v-row class="justify-center">
            <div>
              <h3>Invested success</h3>
            </div>
          </v-row>

          <v-row class="justify-center mt-8">
            <v-col>
              <v-btn @click="sendToEmail()" color="orange" block large>
                send to email
              </v-btn>
            </v-col>
          </v-row>

          <v-row class="justify-center mt-10">
            <v-col>
              <v-btn @click="closeDialogHandle" color="primary" block large>
                close
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formRef: false,
      formValid: false,
      pageStatus: 1,
      resultDialog: false,
      requireRules: [(v) => !!v || 'กรุณาใส่ข้อมูลให้ครบถ้วน'],
      numberRules: [
        (v) => v != 0 || 'กรุณาตรวจสอบค่าอีกครั้ง',
        (v) => /^[0-9]+$/.test(v) || 'กรุณาตรวจสอบค่าอีกครั้ง',
        // (v) => /^[1-9]+$/.test(v),
        // (v) => //
        // (v) => /^[-+]?[0-9]+$/.test(v) || 'กรุณาตรวจสอบค่าอีกครั้ง',
      ],
      form: {
        contract: 3,
        Plan: null,
        amount: 0,
        share: null,
        dateStart: null,
        dateFinish: null,
        type: this.$route.query.type || null,
      },
      contractList: [
        {
          text: '3 Year',
          value: 3,
        },
      ],
      stockPrice: null,
      dividendPlan: [],
      planList: null,
      outstandBalance: 0,
      userData: {},
    }
  },
  methods: {
    fetchUser() {
      // /getUser
      this.$axios
        .get(`/getUser`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.userData = response.data.message
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push()
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    fetchPlan() {
      this.$axios
        .post(`/SelectPlan`, { idPlan: this.$route.query.sh })
        .then((response) => {
          if (response.data.success == 'success') {
            this.planList = response.data.message
            this.stockPrice = this.planList[0].price
            this.planList.forEach((element) => {
              this.dividendPlan.push({
                text:
                  element.month +
                  ' month - ' +
                  element.dividented +
                  '% dividend',
                value: element.idinvestmentPlan,
              })
            })
            // this.dividendPlan =
          } else if (response.data.success == 'error') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/wallet/result/fail')
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    calTotalAmount() {
      // this.form.total = parseFloat(this.form.quantity * 35)
      this.form.amount = parseFloat(
        this.form.share * this.stockPrice
      ).toLocaleString(undefined, {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      })
      // this.form.amount = this.form.share * this.stockPrice
      let amount = this.form.amount
      amount = amount.replace(',', '')
      amount = parseFloat(amount)
      // console.log('AMOUNT' + amount)
      // console.log(this.userData)
      this.outstandBalance = parseFloat(this.userData.balance) - amount
      // console.log(this.outstandBalance)
    },
    submitHandle() {
      if (this.$refs.formRef.validate()) {
        // console.log(this.form)
        this.pageStatus = 2
      }
      // console.log(this.$refs.formRef.validate())
      // console.log(this.formValid)
    },
    confirmHandle() {
      // this.resultDialog = true
      // this.pageStatus = 2
      this.form.amount = this.form.amount.replace(',', '')
      this.form.amount = parseFloat(this.form.amount)
      this.form.share = parseInt(this.form.share)
      this.form.type = parseInt(this.form.type)

      console.log(this.form)
      this.$axios
        .post(`/BuyStock`, this.form)
        .then((response) => {
          if (response.data.success == 'success') {
            // this.$router.push('/user/invest/')
            this.resultDialog = true
          } else if (response.data.success == 'error') {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push('/user/invest/')
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    closeDialogHandle() {
      this.$parent.fetchUser()
      this.resultDialog = false
      this.$router.push('/user/invest')
    },
    sendToEmail() {
      console.log('email')
    },
  },
  mounted() {},
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )

      this.fetchPlan()
      this.fetchUser()
      const date_now = this.$moment_timezone(new Date(), 'Asia/Bangkok').format(
        'YYYY-MM-DD HH:mm:ss'
      )
      // console.log('date_now : ', date_now)
      const date_fin = this.$moment_timezone(new Date(), 'Asia/Bangkok')
        .add(3, 'y')
        .format('YYYY-MM-DD HH:mm:ss')
      this.form.dateStart = date_now
      this.form.dateFinish = date_fin

      // date1.getFullYear().toString()
      // date1.getFullYear.toString() + (date1.getMonth() + 1).toString() + date1.getDate().toString()
    }
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>