<template></template>
<script>
export default {
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    this.$router.push('/user/invest/shares/agreement')
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>