.v-application {
  overflow: hidden;
  &--is-rtl {
    text-align: right;
  }
  .v-btn__content {
    letter-spacing: 0;
  }
  .v-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    // padding: 0 !important;
  }
  .v-overlay {
    z-index: 90 !important;
  }
  .v-application--wrap a {
    color: $palette-primary-main;
  }
  #main-wrap .title {
    font-family: 'Montserrat', sans-serif !important;
  }
  .v-menu__content {
    border-radius: 12px;
  }
  .v-btn {
    font-weight: 600;
    &:not(.v-btn--round).v-size--large {
      font-size: 0.9375rem;
      padding: 7px 36px;
    }
  }
  .slick-slide {
    &:focus {
      outline: none;
    }
  }
  .row {
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    &.spacing2 {
      margin-left: -8px;
      margin-right: -8px;
    }
    &.spacing4 {
      margin-left: -16px;
      margin-right: -16px;
    }
    &.spacing6 {
      margin-left: -24px;
      margin-right: -24px;
    }
    &.spacing8 {
      margin-left: -32px;
      margin-right: -32px;
    }
    &.row-reverse {
      flex-direction: row-reverse;
    }
    &.column {
      flex-direction: column;
    }
    &.column-reverse {
      flex-direction: column-reverse;
    }
  }
  .v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    border-radius: 12px;
  }
  .v-app-bar.v-app-bar--fixed {
    z-index: 99;
  }
  .v-snack__content {
    @include breakpoints-down(xs) {
      display: block;
    }
  }
}

.v-application.theme--dark {
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 1),
      0px 1px 1px 0px rgba(42, 42, 42, 1), 0px 2px 1px -1px rgba(20, 20, 20, 1);
  }
}

.v-application.theme--light {
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
  }
}

/* Content Overider */
#main-wrap .container {
  padding: 0 16px;
  max-width: 1280px;
  @media (min-width: 600px) {
    padding: 0 24px;
  }
  @media (min-width: 960px) {
    padding: 0 32px;
  }
  &.fixed-width {
    @media (min-width: 600px) {
      max-width: 600px;
    }
    @media (min-width: 960px) {
      max-width: 960px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }
  &.max-lg {
    max-width: 1280px;
  }
  &.max-md {
    max-width: 960px;
  }
  &.max-sm {
    max-width: 600px;
  }
  &.max-xs {
    max-width: 444px;
  }
}

#main-wrap .v-toolbar__content,
.v-toolbar__extension {
  padding: 0;
}

/* Theme overider */
.money {
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;
  a:hover {
    color: $palette-primary-main;
  }
  .theme--dark {
    &.v-card,
    &.v-expansion-panels .v-expansion-panel {
      background: #424242;
    }
  }
  .v-btn {
    border-radius: 6px;
    &.primary {
      box-shadow: 0 0 4px -1px $palette-primary-main;
    }
    &.secondary {
      box-shadow: 0 0 4px -1px $palette-secondary-main;
    }
  }
}

.pointer {
  cursor: pointer;
}
