<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" md="9" class="mt-5" order="2">
          <div class="d-flex justify-space-between">
            <h3 class="my-auto">Investment log</h3>
            <div>
              <v-text-field
                placeholder="search"
                dense
                outlined
                background-color="white"
                class="rounded-pill"
                prepend-inner-icon="mdi-magnify"
              >
              </v-text-field>
            </div>
          </div>
          <v-row>
            <v-col>
              <!-- data table -->
              <v-data-table :headers="headers" :items="tableData">
                <template v-slot:item.id="{ item }">
                  {{ tableData.indexOf(item) + 1 }}
                </template>
                <template v-slot:item.cd="{ item }">
                  <v-progress-linear
                    :value="item.cd"
                    :buffer-value="item.cd"
                    color="#1D9689"
                    stream
                  ></v-progress-linear>
                </template>
                <template v-slot:item.planDividented="{ item }">
                  <div>{{ item.planDividented }}%</div>
                </template>
                <template v-slot:item.contracts="{ item }">
                  <div>{{ item.contracts }} YEAR</div>
                </template>
                <template v-slot:item.amount="{ item }">
                  ฿
                  {{
                    parseFloat(item.amount).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-col>

        <!-- level & history -->
        <v-col
          col="12"
          md="3"
          class="px-0"
          :order="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm ? '1' : '3'"
        >
          <!-- user level -->
          <v-row>
            <v-col>
              <member-card :data="stockData" />
            </v-col>
          </v-row>

          <!-- history -->
          <v-row>
            <v-col>
              <v-card color="white" outlined>
                <v-container>
                  <v-row>
                    <v-col class="px-0 text-h6"> Transaction History </v-col>
                  </v-row>
                  <v-row>
                    <!-- check type -->
                    <v-col cols="2" class="px-0">
                      <v-avatar size="40">
                        <v-img src="/images/asset/fail.png"></v-img>
                      </v-avatar>
                    </v-col>
                    <!-- type & date -->
                    <v-col class="px-0">
                      <div>Deposit</div>
                      <div>{{ historyData.datePaid || 'xxxxxxxxxx' }}</div>
                    </v-col>
                    <!-- amount -->
                    <v-col cols="4" class="pr-0" align="right">
                      <div class="green--text">
                        + {{ (historyData.net || 99999).toLocaleString() }}
                        <!-- {{
                          parseFloat(99999).toLocaleString(undefined, {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          })
                        }} -->
                      </div>
                      <div>THB</div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <!-- check type -->
                    <v-col cols="2" class="px-0">
                      <v-avatar size="40">
                        <v-img src="/images/asset/fail.png"></v-img>
                      </v-avatar>
                    </v-col>
                    <!-- type & date -->
                    <v-col class="px-0">
                      <div>Deposit</div>
                      <div>{{ historyData.datePaid || 'xxxxxxxxxx' }}</div>
                    </v-col>
                    <!-- amount -->
                    <v-col cols="4" class="pr-0" align="right">
                      <div class="red--text">
                        - {{ (historyData.net || 99999).toLocaleString() }}
                        <!-- {{
                          parseFloat(99999).toLocaleString(undefined, {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          })
                        }} -->
                      </div>
                      <div>THB</div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MemberCard from '~/components/User/MemberCard.vue'
export default {
  components: {
    MemberCard,
  },
  data() {
    return {
      stockData: {
        level: 'Amazie Stock',
        balance: 0,
      },
      headers: [
        { text: '#', value: 'id' },
        { text: 'Transaction ID', value: 'No' },
        { text: 'Investment Amount', value: 'amount' },
        { text: 'Contract Type', value: 'contracts' },
        { text: 'Amount of shares', value: 'share' },
        { text: 'Countdown', value: 'cd' },
        { text: 'Dividend', value: 'planDividented' },
        { text: 'Date of purchase', value: 'dateStart' },
      ],
      tableData: [],
      data: null,
      historyData: [],
    }
  },
  methods: {
    fetchData() {
      // /getUser
      this.$axios
        .get(`/GET_INFORMATION_DASHBOARD`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.data = response.data.message
            this.stockData.balance = this.data.AmountStockOfUser
            this.tableData = this.data.TableTransactionInvestment
            this.historyData = this.data.TableTransactionTopup
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
            this.$router.push()
            return
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    getTypeText() {},
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      this.fetchData()
    } else {
      // alert('ERROR!')
      // this.$router.push('/login')
    }
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
}
</script>
