<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col> <h2>Price of Prefer Stock</h2> </v-col>
      </v-row>

      <v-slide-group v-model="model" class="pa-4" show-arrows>
        <v-slide-item
          v-for="(item, index) in stockPriceList"
          :key="index"
          v-slot="{ toggle }"
        >
          <v-card color="black" class="ma-4" width="330" @click="toggle">
            <v-container class="py-8">
              <v-row class="fill-height align-center" no-gutters>
                <v-col cols="3">
                  <v-img :src="item.img" contain> </v-img>
                </v-col>
                <v-col class="white--text">
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.name }}</h2>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.price }}</h2>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-slide-item>
      </v-slide-group>

      <v-row>
        <v-col> <h2>Price of Common Stock</h2> </v-col>
      </v-row>
      <v-slide-group v-model="model" class="pa-4" show-arrows>
        <v-slide-item
          v-for="(item, index) in stockPriceList"
          :key="index"
          v-slot="{ toggle }"
        >
          <v-card color="black" class="ma-4" width="330" @click="toggle">
            <v-container class="py-8">
              <v-row class="fill-height align-center" no-gutters>
                <v-col cols="3">
                  <v-img :src="item.img" contain> </v-img>
                </v-col>
                <v-col class="white--text">
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.name }}</h2>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col align="right">
                      <h2>{{ item.price }}</h2>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-slide-item>
      </v-slide-group>
    </v-container>

    <v-container>
      <v-row>
        <v-col cols="12" md="9" class="mt-5" order="2">
          <div class="d-flex justify-space-between">
            <h3 class="my-auto">Investment log</h3>
            <div>
              <v-text-field
                v-model="search"
                placeholder="search"
                dense
                outlined
                background-color="white"
                class="rounded-pill my-auto pa-0"
                prepend-inner-icon="mdi-magnify"
              >
              </v-text-field>
            </div>
          </div>
          <v-row>
            <v-col>
              <!-- data table -->
              <v-data-table
                :headers="headers"
                :items="tableData"
                :search="search"
              >
                <template v-slot:item.id="{ item }">
                  {{ tableData.indexOf(item) + 1 }}
                </template>
                <template v-slot:item.cd="{ item }">
                  <v-progress-linear
                    :value="item.cd"
                    :buffer-value="item.cd"
                    color="#1D9689"
                    stream
                  ></v-progress-linear>
                </template>
                <template v-slot:item.planDividented="{ item }">
                  <div>{{ item.planDividented }}%</div>
                </template>
                <template v-slot:item.contracts="{ item }">
                  <div>{{ item.contracts }} YEAR</div>
                </template>
                <template v-slot:item.amount="{ item }">
                  ฿
                  {{
                    parseFloat(item.amount).toLocaleString(undefined, {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-col>

        <!-- level & history -->
        <v-col
          col="12"
          md="3"
          class="px-0"
          :order="$vuetify.breakpoint.xs || $vuetify.breakpoint.sm ? '1' : '3'"
        >
          <!-- member card -->
          <v-row>
            <v-col>
              <member-card :data="stockData" />
            </v-col>
          </v-row>

          <!-- history -->
          <v-row>
            <v-col>
              <v-card color="white" outlined>
                <v-container>
                  <v-row>
                    <v-col class="px-0 text-h6"> Transaction History </v-col>
                  </v-row>

                  <v-row v-for="item in historyData" :key="item">
                    <!-- check type -->
                    <v-col cols="2" md="4" lg="3" class="px-0">
                      <v-avatar size="40">
                        <v-img src="/images/asset/fail.png"></v-img>
                      </v-avatar>
                    </v-col>
                    <!-- type & date -->
                    <v-col cols="4" md="6" lg="4" class="px-0">
                      <div>Deposit</div>
                      <div>{{ item.datePaid || 'xxxxxxxxxx' }}</div>
                    </v-col>
                    <!-- amount -->
                    <v-col
                      cols="4"
                      md="12"
                      lg="4"
                      class="pr-0"
                      :align="$vuetify.breakpoint.lg ? '' : 'right'"
                    >
                      <div class="green--text">
                        + {{ (item.net || 99999).toLocaleString() }}
                        <!-- {{
                          parseFloat(99999).toLocaleString(undefined, {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2,
                          })
                        }} -->
                      </div>
                      <div>THB</div>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MemberCard from '~/components/User/MemberCard.vue'
export default {
  components: {
    MemberCard,
  },
  data() {
    return {
      model: '',
      stockData: {
        level: 'Amazie Stock',
        balance: 0,
      },
      headers: [
        { text: '#', value: 'id' },
        { text: 'Transaction ID', value: 'No' },
        { text: 'Investment Amount', value: 'amount' },
        { text: 'Contract Type', value: 'contracts' },
        { text: 'Amount of shares', value: 'share' },
        { text: 'Countdown', value: 'cd' },
        { text: 'Dividend', value: 'planDividented' },
        { text: 'Date of purchase', value: 'dateStart' },
      ],
      tableData: [],
      data: null,
      historyData: [],
      search: null,
      stockPriceList: [
        {
          name: 'Amazie Fintech',
          img: '/images/company logo/Amazie Fintech.png',
          price: '฿ 35/Stock',
        },
        {
          name: 'Amazie Gold',
          img: '/images/company logo/Amazie Gold.png',
          price: '฿ 35/Stock',
        },
        {
          name: 'Amazie Holding',
          img: '/images/company logo/Amazie Holding.png',
          price: '฿ 35/Stock',
        },
      ],
    }
  },
  methods: {
    fetchData() {
      // /getUser
      this.$axios
        .get(`/GET_INFORMATION_DASHBOARD`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.data = response.data.message
            this.stockData.balance = this.data.AmountStockOfUser
            this.tableData = this.data.TableTransactionInvestment
            this.historyData = this.data.TableTransactionTopUp
          } else {
            alert(
              this.$i18n.locale == 'th'
                ? response.data.message_th
                : response.data.message_en
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    getTypeText() {},
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      this.fetchData()
    } else {
      // alert('ERROR!')
      // this.$router.push('/login')
    }
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
}
</script>
