<template>
  <footer class="footer" :class="{ invert: invert }">
    <v-container class="fixed-width">
      <v-row class="spacing6">
        <v-col
          class="py-md-0 pa-6"
          md="5"
          cols="12"
        >
          <div class="logo">
            <img
              :src="logo"
              alt="logo"
            >
            <h6>
              {{ brand.crypto.projectName }}
            </h6>
          </div>
          <p class="footer-desc pb-6">
            {{ $t('cryptoLanding.banner_title') }}
          </p>
          <div class="quick-links">
            <h6 class="title-nav mb-2">
              {{ $t('cryptoLanding.footer_link') }}
            </h6>
            <ul>
              <li
                v-for="(item, index) in footer.description"
                :key="item"
              >
                <nuxt-link :to="footer.link[index]">
                  {{ item }}
                </nuxt-link>
              </li>
            </ul>
          </div>
        </v-col>
        <!-- pa-6 -->
        <v-col
          class="py-md-0 "
          md="4"
          cols="12"
        >
          <v-btn
            v-for="(item, index) in news"
            :key="index"
            text     
            class="blog-item"
            href="#"
          >
            <!-- <span class="figure">
              <img :src="item.img" alt="thumb" />
            </span> -->
            <span class="list-text">
              <span class="category">
                <!-- {{ $t('cryptoLanding.footer_news') }} -->
                {{item.type}}
              </span>
              <span class="content">
                {{item.text}}
                <!-- Amazie Tower 199 Ratchada-Ramintra R., Kannayao Kannayao, Bangkok 10230 -->
              </span>
            </span>
          </v-btn>
        </v-col>
        <v-col
          md="3"
          cols="12"
          class="py-md-0 px-8 py-6"
        >
          <div class="socmed">
            <v-btn
              text
              icon
              class="button"
              
            >
              <span class="ion-social-twitter icon" />
            </v-btn>
            <a :href="link.crypto.facebook" target="_blank">
               <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-social-facebook icon" />
            </v-btn>
            </a>
           <a :href="link.crypto.Instagram" target="_blank">
             <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-social-instagram icon" />
            </v-btn>
           </a>
            <a :href="link.crypto.LinkInL" target="_blank">
            <v-btn
              text
              icon
              class="button"
            >
              <span class="ion-social-linkedin icon" />
            </v-btn>
            </a>
          </div>
          <v-select
            :items="langList"
            :value="lang"
            v-model="lang"
            label=""
            outlined
            class="select-lang"
            prepend-inner-icon="mdi-web"
            @change="switchLang(lang)"
          />
          <!-- <p class="body-2">
            &copy;&nbsp;
            {{ brand.crypto.footerText }}
          </p> -->
        </v-col>
      </v-row>
    </v-container>
  </footer>
</template>

<style scoped lang="scss">
@import './footer-style';
</style>

<script>
import logo from '~/static/images/crypto-logo.png'
import brand from '~/static/text/brand'
import img from '~/static/images/imgAPI'
import link from '~/static/text/link'

export default {
  data: () => ({
    logo: logo,
    brand: brand,
    link: link,
    lang: 'en',
    footer: {
      title: 'Quick Links',
      description: ['Resource', 'About', 'Objectives', 'wallet', 'Terms of use', 'contact'], // eslint-disable-line
      link: ['#home', '#about', '#Objectives', '#wallet', '#testimonials', '#contract'] // eslint-disable-line
    },
    news: [
      {
        type: 'Address',
        text: 'Amazie Tower 199 Ratchada-Ramintra R., Kannayao Kannayao, Bangkok 10230',
        // img: img.photo[4]
      },
      // {
      //   type: 'Call Us',
      //   text: '+66 xxx-xxx-xxx',
      // },
      {
        type: 'Email',
        text: 'service@amaziefintech.com',
        // img: img.photo[4]
      }
    ]
  }),
  computed: {
    langList: function() {
      const list = []
      this.$i18n.locales.map(item => {
        list.push({ text: this.$t('common.' + item.code), value: item.code })
      })
      return list
    }
  },
  mounted() {
    this.lang = this.$i18n.locale
  },
  props: {
    invert: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    switchLang: function(val) {
      this.$i18n.setLocale(val)
    }
  }
}
</script>
