<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <v-card>member </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      aa: 0,
    }
  },
  methods: {
    test() {
      console.log('test')
    },
  },
}
</script>