<template>
  <div>
    <KYC />
  </div>
</template>

<script>
import brand from '~/static/text/brand'
import KYC from '~/components/Forms/KYC.vue'

export default {
  components: {
    KYC
  },
  data() {
    return {}
  },
  head() {
    return {
      title: brand.crypto.name + ' - KYC'
    }
  }
}
</script>
