<template>
  <div>
    <register-form />
  </div>
</template>

<script>
import brand from '~/static/text/brand'
import RegisterForm from '~/components/Forms/Register'
import Verification from '~/components/Forms/Verification.vue'

export default {
  components: {
    RegisterForm,
    Verification
  },
  data() {
    return {}
  },
  head() {
    return {
      title: brand.crypto.name + ' - Register'
    }
  }
}
</script>
