<template>
  <div>
    <verification />
  </div>
</template>

<script>
import brand from '~/static/text/brand'
import Verification from '~/components/Forms/Verification.vue'

export default {
  components: {
    Verification
  },
  data() {
    return {}
  },
  head() {
    return {
      title: brand.crypto.name + ' - Verify'
    }
  }
}
</script>
