<template>
  <div>
    <WaitKYC />
  </div>
</template>

<script>
import brand from '~/static/text/brand'
import WaitKYC from '~/components/Forms/WaitKYC.vue'

export default {
  components: { WaitKYC },
  data() {
    return {}
  },
  head() {
    return {
      title: brand.crypto.name + ' - waiting',
    }
  },
}
</script>
