<template>
  <div class="pa-5">
    <v-container>
      <v-sheet class="rounded-lg pa-10 mt-5" color="primary" height="770">
        <v-row>
          <v-col cols="6">
            <v-sheet class="rounded-lg py-4" color="yellow" align="center">
              <h3>Term of Agreement</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-card
          v-scroll.self="onScroll"
          class="overflow-y-auto"
          max-height="500"
        >
          <v-card-text>
            <div v-for="n in 15" :key="n" class="mb-4">lorem</div>
          </v-card-text>
        </v-card>

        <v-row class="d-flex justify-space-between">
          <v-col cols="3">
            <v-checkbox v-model="checked" dark hide-details="" label="Agree">
            </v-checkbox>
          </v-col>
          <v-col cols="2" align="right">
            <v-btn
              color="yellow"
              class="white--text"
              :disabled="!checked"
              block
              @click="nextClick"
            >
              next
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      checked: false,
      scrollInvoked: 0,
      totalAmount: 35000,
      sheetSelectedIndex: 0,
      activePicker: null,
      menu: false,
      menu2: false,
      formRef: false,
      form: {
        img_slip: null,
        amount: null,
        date: null,
        time: null,
      },
    }
  },
  methods: {
    onScroll() {
      //   this.scrollInvoked++
    },
    nextClick() {
      this.$router.push('/user/invest/dividend/contract')
    },
    submitHandle() {
      console.log(this.form)

      console.log(formdata)
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
  },
  mounted() {},
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>