<template>
  <div class="pa-5">
    <v-container>
      <!-- plan select -->
      <v-sheet
        class="rounded-lg pa-10 mt-5"
        color="primary"
        height="770"
        v-if="pageStatus == 1"
      >
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="yellow" align="center">
              <h3>Investment Plan</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-data-table :headers="headers" :items="testData">
              <template v-slot:item.countdown="{ item }">
                <v-progress-linear
                  :value="item.countdown"
                  :buffer-value="item.countdown"
                  color="#1D9689"
                  stream
                ></v-progress-linear>
              </template>
              <template v-slot:item.checkbox="{ item }">
                <v-checkbox v-model="item.selected"></v-checkbox>
              </template>
            </v-data-table>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12">
            <span class="white--text">Contract</span>
            <v-text-field
              v-model="form.contract"
              placeholder="Contract"
              color="primary"
              class="input rounded-lg"
              background-color="white"
              filled
              required
              hide-details
            />
          </v-col>
        </v-row>

        <v-row class="mt-8">
          <v-col>
            <v-btn block color="yellow" large @click="submitHandle()">
              Confirm
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>

      <!-- redemption -->
      <v-sheet
        class="rounded-lg pa-10 mt-5 yellow--text"
        color="primary"
        v-else-if="pageStatus == 2"
      >
        <v-row>
          <v-col cols="6" md="3">
            <v-sheet class="rounded-lg py-4" color="yellow" align="center">
              <h3>Redemption</h3>
            </v-sheet>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Type of investment</b></span>
            <span><b>Shares</b></span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Contract Duration</b></span>
            <span><b>3 Years</b></span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Quantity</b></span>
            <span><b>10 Shares</b></span>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Date of Purchase</b></span>
            <span><b>13-08-2021 00:00:00</b></span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Date of Redemption</b></span>
            <span><b>13-08-2021 00:00:00</b></span>
          </v-col>
        </v-row>

        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Current Balance</b></span>
            <span>
              <b>
                ฿
                {{
                  parseFloat(500000).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </span>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Total investment</b></span>
            <span>
              <b>
                ฿
                {{
                  parseFloat(350000).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </span>
          </v-col>
        </v-row>

        <v-row style="margin-top: 80px">
          <v-divider class="yellow darken-2 ma-4" />
        </v-row>
        <v-row>
          <v-col class="d-flex justify-space-between">
            <span><b>Outstanding Balance</b></span>
            <span>
              <b>
                ฿
                {{
                  parseFloat(350000).toLocaleString(undefined, {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                  })
                }}
              </b>
            </span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              block
              color="yellow"
              class="white--text"
              large
              @click="confirmHandle()"
            >
              Confirm
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              block
              color="black"
              class="white--text"
              large
              @click="sendToEmail()"
            >
              send to email
            </v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formRef: false,
      pageStatus: 1,
      form: {
        contract: null,
        plan: null,
        quantity: null,
        total: 0,
      },
      headers: [
        { text: '', value: 'checkbox' },
        { text: 'Transaction ID', value: 'TID' },
        { text: 'Amount Invested', value: 'amount' },
        { text: 'Contract Type', value: 'ctype' },
        { text: 'Amount of shares', value: 'shares' },
        { text: 'Type', value: 'type' },
        { text: 'Dividend', value: 'dividend' },
        { text: 'Timestamp', value: 'date' },
      ],
      testData: [
        {
          NO: 1,
          TID: 1,
          amount: 1,
          ctype: 1,
          shares: 1,
          type: 1,
          selected: false,
          dividend: 1200,
          date: '2020-01-01',
        },
        {
          NO: 1,
          TID: 1,
          amount: 1,
          ctype: 1,
          shares: 1,
          type: 1,
          selected: false,
          dividend: 1200,
          date: '2020-01-01',
        },
        {
          NO: 1,
          TID: 1,
          amount: 1,
          ctype: 1,
          shares: 1,
          type: 1,
          selected: false,
          dividend: 1200,
          date: '2020-01-01',
        },
      ],
    }
  },
  methods: {
    calTotalAmount() {
      // this.form.total = parseFloat(this.form.quantity * 35)
      this.form.total = parseFloat(this.form.quantity * 35).toLocaleString(
        undefined,
        {
          minimumFractionDigits: 2,
          maximumFractionDigits: 2,
        }
      )
    },
    submitHandle() {
      console.log(this.testData)
      this.pageStatus = 2

      // this.$axios
      //   .post(`/`, formdata)
      //   .then((response) => {
      //     if (response.data.success == 'success') {
      //       alert(
      //         this.$i18n.locale == 'th'
      //           ? response.data.message_th
      //           : response.data.message_en
      //       )
      //       this.$router.push('/user/wallet/result/success')
      //     } else if (response.data.success == 'error') {
      //       alert(
      //         this.$i18n.locale == 'th'
      //           ? response.data.message_th
      //           : response.data.message_en
      //       )
      //       this.$router.push('/user/wallet/result/fail')
      //       return
      //     }
      //   })
      //   .catch((error) => {
      //     console.log(error.response)
      //   })
    },
    confirmHandle() {
      console.log('confirm')
    },
    sendToEmail() {
      console.log('email')
    },
  },
  mounted() {},
  beforeMount() {
    // if (this.$cookies.get('token')) {
    //   this.$axios.setHeader(
    //     'Authorization',
    //     'Bearer ' + this.$cookies.get('token') || null
    //   )
    //   // this.$parent.fetchUser()
    //   this.fetchUser()
    // } else {
    //   // alert('ERROR!')
    //   // this.$router.push('/login')
    // }
  },
}
</script>