<template>
  <div class="bgimg"></div>
</template>
<style scoped>
.bgimg {
  position: absolute;
  right: -330px;
  bottom: -550px;
  height: 1000px;
  width: 1000px;
  z-index: 0;
  background-image: url('~@/assets/amaziecoin.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<script>
export default {}
</script>