<template>
  <AuthFrame
    :title="$t('common.register_title')"
    :subtitle="$t('common.register_subtitle')"
  >
    <div>
      <div class="head">
        <title-secondary :align="isMobile ? 'center' : 'left'">
          {{ $t('common.KYC_title') }}
        </title-secondary>
      </div>

      <v-form ref="form" v-model="valid">
        <v-row class="spacing3">
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.firstname"
              :label="$t('common.KYC_firstname')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.lastname"
              :label="$t('common.KYC_lastname')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <!-- <v-select
              v-model="form.DoB"
              :label="$t('common.KYC_DoB')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            /> -->
            <!-- <div class="mb-6">Active picker: <code>{{ activePicker || 'null' }}</code></div> -->
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="form.DoB"
                  :label="$t('common.KYC_DoB')"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  color="primary"
                  class="input"
                  filled
                  required
                  dense
                  hide-details
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="form.DoB"
                :active-picker.sync="activePicker"
                :max="
                  new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
                    .toISOString()
                    .substr(0, 10)
                "
                min="1950-01-01"
                @change="save"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-select
              v-model="form.gender"
              :items="genderlist"
              :label="$t('common.KYC_Gender')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.tel"
              :label="$t('common.KYC_tel')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-select
              v-model="form.country"
              :items="countryList"
              item-text="country_name"
              item-value="id"
              :label="$t('common.KYC_country')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.city"
              :label="$t('common.KYC_town')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.postal"
              :label="$t('common.KYC_postal')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.address1"
              :label="$t('common.KYC_address1')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.address2"
              :label="$t('common.KYC_address2')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.nationality"
              :label="$t('common.KYC_nationality')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.id_NO"
              :label="$t('common.KYC_id_NO')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-select
              v-model="form.employment_status"
              :items="employStatus"
              :label="$t('common.KYC_employment_status')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-text-field
              v-model="form.employment_address"
              :label="$t('common.KYC_employment_address')"
              :rules="requiredRules"
              color="primary"
              class="input"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-file-input
              v-model="form.img_face"
              :label="$t('common.KYC_uploadimg_face')"
              :rules="requiredRules"
              color="primary"
              prepend-icon=""
              prepend-inner-icon="mdi-face-recognition"
              append-icon="mdi-upload"
              accept="image/png, image/jpeg"
              filled
              required
              dense
              hide-details
            >
            </v-file-input>
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-file-input
              v-model="form.img_bank"
              :label="$t('common.KYC_uploadimg_bank')"
              :rules="requiredRules"
              color="primary"
              prepend-icon=""
              prepend-inner-icon="mdi-bank"
              append-icon="mdi-upload"
              accept="image/png, image/jpeg"
              filled
              required
              dense
              hide-details
            >
            </v-file-input>
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-file-input
              v-model="form.img_id_front"
              :label="$t('common.KYC_uploadimg_id_front')"
              :rules="requiredRules"
              color="primary"
              prepend-icon=""
              prepend-inner-icon="mdi-card-account-details"
              append-icon="mdi-upload"
              accept="image/png, image/jpeg"
              filled
              required
              dense
              hide-details
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3 mb-2">
            <v-file-input
              v-model="form.img_id_back"
              :label="$t('common.KYC_uploadimg_id_back')"
              :rules="requiredRules"
              color="primary"
              prepend-icon=""
              prepend-inner-icon="mdi-card-text"
              append-icon="mdi-upload"
              accept="image/png, image/jpeg"
              filled
              required
              dense
              hide-details
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div class="btn-area">
              <v-btn
                large
                block
                color="registerOrange"
                class="white--text"
                @click="handleSubmit"
              >
                {{ $t('common.KYC_submit_btn') }}
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-form>
    </div>

    <v-dialog v-model="privacyDialog" max-width="600">
      <v-card color="white">
        <v-container>
          <v-row>
            <v-col> dialog PDPA </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </AuthFrame>
</template>

<style lang="scss" scoped>
@import './form-style';
</style>

<script>
import routerLink from '~/static/text/link'
import AuthFrame from './AuthFrame'

export default {
  components: {
    AuthFrame,
  },
  data() {
    return {
      routerLink: routerLink,
      valid: false,
      activePicker: null,
      menu: false,
      form: {
        firstname: null,
        lastname: null,
        DoB: null,
        gender: null,
        tel: null,
        country: 224,
        city: null,
        postal: null,
        address1: null,
        address2: null,
        nationality: null,
        id_NO: null,
        employment_status: null,
        employment_address: null,
        img_face: null,
        img_bank: null,
        img_id_front: null,
        img_id_back: null,
      },
      genderlist: ['Male', 'Female'],
      employStatus: ['Yes', 'No'],
      countryList: [],
      privacyDialog: false,
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      requiredRules: [(v) => !!v || 'This field is required'],
      passwordRules: [
        (v) => !!v || 'This field is required',
        (v) => v === this.form.password || 'Passwords do not match',
      ],
    }
  },
  methods: {
    fetchData() {
      // /getIndexKYC
      this.$axios
        .get(`/getIndexKYC`)
        .then((response) => {
          if (response.data.success == 'success') {
            let r = response.data.message

            this.form.firstname = r.FirstName
            this.form.lastname = r.LastName
          }
          // else {
          //   alert(
          //     response.data.success || this.$i18n.locale === 'th'
          //       ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
          //       : 'Some errors have occured. Please try again or contact administrator. '
          //   )
          // }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    fetchCountry() {
      // /FetchCountry
      this.$axios
        .get(`/getCountry`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.countryList = response.data.message
          }
          // else {
          //   alert(
          //     response.data.success || this.$i18n.locale === 'th'
          //       ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
          //       : 'Some errors have occured. Please try again or contact administrator. '
          //   )
          // }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    resetForm() {
      this.$refs.form.reset()
    },
    save(date) {
      this.$refs.menu.save(date)
    },
    handleSubmit() {
      var formdata = new FormData()

      formdata.append('image', this.form.img_face)
      formdata.append('image', this.form.img_bank)
      formdata.append('image', this.form.img_id_front)
      formdata.append('image', this.form.img_id_back)
      formdata.append('firstname', this.form.firstname)
      formdata.append('lastname', this.form.lastname)
      formdata.append('birth', this.form.DoB)
      formdata.append('gender', this.form.gender)
      formdata.append('phone', this.form.tel)
      formdata.append('country', this.form.country)
      formdata.append('city', this.form.city)
      formdata.append('poscode', this.form.postal)
      formdata.append('address1', this.form.address1)
      formdata.append('address2', this.form.address2)
      formdata.append('national', this.form.nationality)
      formdata.append('passport', this.form.id_NO)
      formdata.append('employeeStatus', this.form.employment_status)
      formdata.append('employeeAddress', this.form.employment_address)

      // console.log(formdata)

      if (this.$refs.form.validate()) {
        this.$axios
          .post(`/UpdateIndexKYC`, formdata)
          .then((response) => {
            if (response.data.success == 'success') {
              alert(
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
              // wait for KYC approve
              this.$router.push('/waiting')
            } else if (response.data.success == 'error') {
              alert(
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
              return
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      }
    },
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      this.fetchData()
      this.fetchCountry()
    } else {
      // alert('ERROR!
      // Please login')
      // this.$router.push('/login')
    }
  },
}
</script>
