<template>
  <AuthFrame
    :title="$t('common.login_title')"
    :subtitle="$t('common.login_subtitle')"
  >
    <div>
      <div class="head">
        <title-secondary align="left">
          {{ $t('common.login') }}
        </title-secondary>
        <v-btn
          :href="routerLink.crypto.register"
          class="button-link"
          text
          small
        >
          <v-icon class="icon signArrow"> mdi-arrow-right </v-icon>
          {{ $t('common.login_create') }}
        </v-btn>
      </div>
      <!-- <social-auth /> -->
      <div class="separator">
        <p>
          {{ $t('common.login_or') }}
        </p>
      </div>
      <v-form ref="form" v-model="valid">
        <v-row class="spacing3">
          <v-col cols="12" sm="12" class="px-3">
            <v-text-field
              v-model="form.email"
              :label="$t('common.login_email')"
              :rules="emailRules"
              color="primary"
              class="input"
              name="email"
              filled
              required
            />
          </v-col>
          <v-col cols="12" sm="12" class="px-3">
            <v-text-field
              v-model="form.password"
              :label="$t('common.login_password')"
              :rules="requiredRules"
              color="primary"
              type="password"
              class="input"
              name="email"
              filled
              required
            />
          </v-col>
        </v-row>
        <div class="form-helper">
          <!-- <div class="form-control-label">
            <v-checkbox
              v-model="checkbox"
              :label="$t('common.login_remember')"
              color="primary"
            />
          </div> -->

          <v-btn small class="button-link" text href="#">
            {{ $t('common.login_forgot') }}
          </v-btn>
        </div>
        <div class="btn-area">
          <v-btn large block color="secondary" @click="handleSubmit">
            {{ $t('common.continue') }}
          </v-btn>
        </div>
      </v-form>
    </div>
  </AuthFrame>
</template>

<style lang="scss" scoped>
@import './form-style';
</style>

<script>
import routerLink from '~/static/text/link'
import TitleSecondary from '../Title/TitleSecondary'
import SocialAuth from './SocialAuth'
import AuthFrame from './AuthFrame'

export default {
  components: {
    SocialAuth,
    TitleSecondary,
    AuthFrame,
  },
  data() {
    return {
      routerLink: routerLink,
      valid: true,
      form: {
        email: null,
        password: null,
      },
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      requiredRules: [(v) => !!v || 'This field is required'],
    }
  },
  methods: {
    handleSubmit() {
      if (this.$refs.form.validate()) {
        this.$axios
          .post(`/signin`, this.form)
          .then((response) => {
            if (response.data.success == 'success') {
              this.$cookies.set('token', response.data.message.token)
              this.$cookies.set('role', response.data.message.role)
              alert(
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )

              if (response.data.message.role >= 3) {
                this.$router.push('/admin')
              } else {
                if (response.data.message.approve == 1) {
                  this.$router.push('/verify')
                } else if (response.data.message.approve == 2) {
                  this.$router.push('/KYC')
                } else if (response.data.message.approve == 3) {
                  // wait KYC
                  this.$router.push('/waiting')
                } else if (response.data.message.approve == 4) {
                  this.$router.push('/user')
                }
              }

              // if (response.data.message.approve == 1) {
              //   this.$router.push('/verify')
              // } else if (response.data.message.approve == 2) {
              //   this.$router.push('/KYC')
              // } else if (response.data.message.approve == 3) {
              //   this.$router.push('/user')
              // } else if (response.data.message.role == 3) {
              //   this.$router.push('/admin')
              // } else {
              //   this.$router.push('/')
              // }
            } else {
              alert(
                response.data.success || this.$i18n.locale === 'th'
                  ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                  : 'Some errors have occured. Please try again or contact administrator. '
              )
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      }
    },
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
}
</script>
