<template>
  <AuthFrame
    :title="$t('common.register_title')"
    :subtitle="$t('common.register_subtitle')"
  >
    <div>
      <v-alert
        v-if="alertStatus != 0"
        dense
        :type="alertStatus == 1 ? 'success' : 'error'"
        class="white--text"
      >
        {{ alertMessage }}
      </v-alert>

      <div class="head">
        <title-secondary :align="isMobile ? 'center' : 'left'">
          {{ $t('common.register') }}
        </title-secondary>
        <v-btn
          :href="routerLink.crypto.login"
          class="button-link green--text"
          text
          small
        >
          <v-icon class="icon signArrow"> mdi-arrow-right </v-icon>
          {{ $t('common.register_already') }}
        </v-btn>
      </div>
      <!-- <social-auth /> -->
      <!-- <div class="separator">
        <p>
          {{ $t('common.register_or') }}
        </p>
      </div> -->
      <v-form ref="form" v-model="valid">
        <v-row class="spacing3">
          <v-col cols="12" sm="6" class="px-3">
            <v-text-field
              v-model="form.firstname"
              :label="$t('common.register_name')"
              :rules="requiredRules"
              color="primary"
              class="input"
              name="name"
              filled
              required
            />
          </v-col>
          <v-col cols="12" sm="6" class="px-3">
            <v-text-field
              v-model="form.lastname"
              :label="$t('common.register_lname')"
              :rules="requiredRules"
              color="primary"
              class="input"
              name="name"
              filled
              required
            />
          </v-col>
          <v-col cols="12" sm="12" class="px-3">
            <v-text-field
              v-model="form.email"
              :label="$t('common.register_email')"
              :rules="emailRules"
              color="primary"
              class="input"
              name="email"
              filled
              required
            />
          </v-col>
          <v-col cols="12" md="6" class="px-3">
            <v-text-field
              v-model="form.password"
              :label="$t('common.register_password')"
              :rules="requiredRules"
              color="primary"
              type="password"
              class="input"
              name="email"
              filled
              required
            />
          </v-col>
          <v-col cols="12" md="6" class="px-3">
            <v-text-field
              v-model="form.confirmPassword"
              :label="$t('common.register_confirm')"
              :rules="passwordRules"
              color="primary"
              type="password"
              class="input"
              name="confirm"
              filled
              required
            />
          </v-col>
        </v-row>
        <div class="btn-area">
          <div class="form-helper">
            <div class="form-control-label">
              <v-checkbox
                v-model="checkbox"
                :label="$t('common.form_terms')"
                color="primary"
                required
              />
              <!-- :rules="requiredRules" -->
              <span>
                <a class="link green--text" @click="privacyDialog = true">
                  {{ $t('common.form_privacy') }}
                </a>
              </span>
            </div>
          </div>
          <v-btn
            large
            block
            color="registerOrange"
            class="white--text"
            @click="handleSubmit"
            :disabled="!checkbox"
          >
            {{ $t('common.continue') }}
          </v-btn>
        </div>
      </v-form>
    </div>

    <v-dialog v-model="privacyDialog" max-width="600">
      <v-card color="white">
        <v-container>
          <v-row>
            <v-col> dialog PDPA </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </AuthFrame>
</template>

<style lang="scss" scoped>
@import './form-style';
</style>

<script>
import routerLink from '~/static/text/link'
import TitleSecondary from '../Title/TitleSecondary'
import SocialAuth from './SocialAuth'
import AuthFrame from './AuthFrame'

export default {
  components: {
    SocialAuth,
    TitleSecondary,
    AuthFrame,
  },
  data() {
    return {
      routerLink: routerLink,
      valid: false,
      alertStatus: 0,
      alertMessage: null,
      form: {
        email: null,
        password: null,
        confirmPassword: null,
        firstname: null,
        lastname: null,
        country: 224,
        refCode: this.$route.query.refid || 1,
      },
      privacyDialog: false,
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      requiredRules: [(v) => !!v || 'This field is required'],
      passwordRules: [
        (v) => !!v || 'This field is required',
        (v) => v === this.form.password || 'Passwords do not match',
      ],
      checkbox: false,
    }
  },
  methods: {
    resetForm() {
      this.$refs.form.reset()
    },
    handleSubmit() {
      if (this.$refs.form.validate()) {
        this.$axios
          .post(`/signup`, this.form)
          .then((response) => {
            if (response.data.success == 'success') {
              this.alertStatus = 1
              this.resetForm()
              this.alertMessage =
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
            } else {
              this.alertStatus = 2
              this.resetForm()
              this.alertMessage =
                this.$i18n.locale == 'th'
                  ? response.data.message_th
                  : response.data.message_en
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      }
    },
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
}
</script>
