<template>
  <AuthFrame
    :title="$t('common.register_title')"
    :subtitle="$t('common.register_subtitle')"
  >
    <div>
      
      <div class="head">
        <title-secondary :align="isMobile ? 'center' : 'left'" >
          {{ $t('common.verification_title') }}
        </title-secondary>
        
      </div>
      <v-card elevation="1" outlined align="center">
        <v-container class="py-3">
          <v-row>
            <v-col cols="12">
              <v-img src="/images/crypto/blue envelope contact.png" contain max-width="260"></v-img>
            </v-col>
          </v-row>
          <div class="my-2">
            <h3>{{ $t('common.verification_confirm') }}</h3>
          </div>
          <div class="text--secondary">
            {{ $t('common.verification_sendto') }}
          </div>
          <div class="my-2">
            <b>
              {{ user_email }}
            </b>
          </div>
          <div class="text--secondary">
            {{ $t('common.verification_checklink') }}
          </div>

          <div>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="verifyCode"
                  :label="$t('common.verification_code')"
                  color="primary"
                  class="input"
                  name="confirm"
                  filled
                  required
                />
              </v-col>
            </v-row>
          </div>
          
          <div>
            <v-row class="my-4">
              <v-col>
                <v-btn
                  large
                  block
                  color="green"
                  class="white--text"
                  @click="confirmVerifyHandle"
                >
                  {{ $t('common.verification_btn_confirm') }}
                </v-btn>
            </v-col>
            </v-row>
            <v-row class="mb-4">
              <v-col>
                <v-btn
                  large
                  block
                  color="registerOrange"
                  class="white--text"
                  @click="resendVerifyHandle"
                >
                  {{ $t('common.verification_btn_resend') }}
                </v-btn>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </v-card>
    </div>
  </AuthFrame>

</template>

<style lang="scss" scoped>
@import './form-style';
</style>

<script>
import routerLink from '~/static/text/link'
import TitleSecondary from '../Title/TitleSecondary'
import SocialAuth from './SocialAuth'
import AuthFrame from './AuthFrame'

export default {
  components: {
    SocialAuth,
    TitleSecondary,
    AuthFrame
  },
  data() {
    return {
      routerLink: routerLink,
      user_email: null,
      verifyCode: null
    }
  },
  methods: {
    fetchUser() {
      this.$axios
        .get(`/getEmail`)
        .then(response => {
          if (response.data.success == 'success') {
            this.user_email = response.data.message.email
          } else {
            alert(
              response.data.success || this.$i18n.locale === 'th'
                ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                : 'Some errors have occured. Please try again or contact administrator. '
            )
          }
        })
        .catch(error => {
          console.log(error.response)
        })
    },
    resetForm() {
      this.$refs.form.reset()
    },
    confirmVerifyHandle() {
      // /VerifyByEmail
      if (this.verifyCode == null || '') {
        alert('กรุณากรอกรหัสยืนยันจากอีเมล์')
      } else {
        this.$axios
          .post(`/VerifyByEmail`, { verifyCode: this.verifyCode })
          .then(response => {
            if (response.data.success == 'success') {
              alert(
                this.$i18n.locale === 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
              this.$router.push('/KYC')
            } else if (response.data.success == 'error') {
              alert(
                this.$i18n.locale === 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
            } else {
              alert(
                response.data.success || this.$i18n.locale === 'th'
                  ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                  : 'Some errors have occured. Please try again or contact administrator. '
              )
            }
          })
          .catch(error => {
            console.log(error.response)
          })
      }
    },
    resendVerifyHandle() {
      // /ResendEmailVerify
      this.$axios
        .post(`/ResendEmailVerify`, { email: this.user_email })
        .then(response => {
          if (response.data.success == 'success') {
            alert(
              this.$i18n.locale === 'th'
                ? 'ส่งคำขอรับรหัสยืนยันใหม่เรียบร้อย กรุณาตรวจสอบอีเมล์ของท่าน'
                : 'New verification code has been sent, please check your email.'
            )
          } else {
            alert(
              response.data.success || this.$i18n.locale === 'th'
                ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                : 'Some errors have occured. Please try again or contact administrator. '
            )
          }
        })
        .catch(error => {
          console.log(error.response)
        })
    }
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    }
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
      this.fetchUser()
    } else {
      alert('ERROR!')
      this.$router.push('/login')
    }
  }
}
</script>
