<template>
  <AuthFrame
    :title="$t('common.register_title')"
    :subtitle="$t('common.register_subtitle')"
  >
    <div>
      <div class="head">
        <title-secondary :align="isMobile ? 'center' : 'left'">
          {{ $t('common.WaitKYC_title') }}
        </title-secondary>
      </div>
      <v-card elevation="1" outlined align="center">
        <v-container class="py-3">
          <v-row>
            <v-col>
              <v-img src="/images/logo-01.png" contain max-width="200"> </v-img>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              {{ $t('common.WaitKYC_text1') }}
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </div>
  </AuthFrame>
</template>

<style lang="scss" scoped>
@import './form-style';
</style>

<script>
import routerLink from '~/static/text/link'
import TitleSecondary from '../Title/TitleSecondary'
import SocialAuth from './SocialAuth'
import AuthFrame from './AuthFrame'

export default {
  components: {
    SocialAuth,
    TitleSecondary,
    AuthFrame,
  },
  data() {
    return {
      routerLink: routerLink,
      user_email: null,
      verifyCode: null,
    }
  },
  methods: {
    fetchUser() {
      this.$axios
        .get(`/getEmail`)
        .then((response) => {
          if (response.data.success == 'success') {
            this.user_email = response.data.message.email
          } else {
            alert(
              response.data.success || this.$i18n.locale === 'th'
                ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                : 'Some errors have occured. Please try again or contact administrator. '
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
    resetForm() {
      this.$refs.form.reset()
    },
    confirmVerifyHandle() {
      // /VerifyByEmail
      if (this.verifyCode == null || '') {
        alert('กรุณากรอกรหัสยืนยันจากอีเมล์')
      } else {
        this.$axios
          .post(`/VerifyByEmail`, { verifyCode: this.verifyCode })
          .then((response) => {
            if (response.data.success == 'success') {
              alert(
                this.$i18n.locale === 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
              this.$router.push('/KYC')
            } else if (response.data.success == 'error') {
              alert(
                this.$i18n.locale === 'th'
                  ? response.data.message_th
                  : response.data.message_en
              )
            } else {
              alert(
                response.data.success || this.$i18n.locale === 'th'
                  ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                  : 'Some errors have occured. Please try again or contact administrator. '
              )
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
      }
    },
    resendVerifyHandle() {
      // /ResendEmailVerify
      this.$axios
        .post(`/ResendEmailVerify`, { email: this.user_email })
        .then((response) => {
          if (response.data.success == 'success') {
            alert(
              this.$i18n.locale === 'th'
                ? 'ส่งคำขอรับรหัสยืนยันใหม่เรียบร้อย กรุณาตรวจสอบอีเมล์ของท่าน'
                : 'New verification code has been sent, please check your email.'
            )
          } else {
            alert(
              response.data.success || this.$i18n.locale === 'th'
                ? 'เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ'
                : 'Some errors have occured. Please try again or contact administrator. '
            )
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    },
  },
  computed: {
    isMobile() {
      const smDown = this.$store.state.breakpoints.smDown
      return smDown.indexOf(this.$mq) > -1
    },
  },
  beforeMount() {
    if (this.$cookies.get('token')) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('token') || null
      )
    } else {
      alert('ERROR!')
      this.$router.push('/login')
    }
  },
}
</script>
